<!-- <div class="page-banner bg-img bg-img-parallax overlay-dark" style="background-image: url(../assets/img/bg_image_3.jpg);">
    <div class="container h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-lg-8">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item"><a href="">Tjänster</a></li>
              <li class="breadcrumb-item active" aria-current="page">Redovisning</li>
            </ol>
          </nav>
          <h1 class="fg-white text-center">Redovisning</h1>
        </div>
      </div>
    </div>
  </div>  -->
<!-- .page-banner -->
<app-main-image [HomeName]="'breadcrumbServicesHomeText'|translate" [pageName]="'breadcrumbServicesPage1'|translate"
  [pageName2]="'breadcrumbServicesAccountingPage2'|translate"
 ></app-main-image>



<main>

  <!-- <div class="page-section">
<div class="container-fluid px-5">
  <div class="row align-items-center">
    <div class="col-lg-6 py-3">
      <div class="d-flex justify-content-start align-items-center" style="flex-direction: row; gap: 1rem;">
        <i class="fas fa-file-invoice fa-3x" style="color: #02519c;"></i>
        <h1 class="mt-2" style="font-weight:600;">Redovisning</h1>
      </div>
      <div class="mt-3">
        <p>
          Our philosophy is to make better and easy your life for entrepreneurs and self-employed people. We can help 
        </p>
          <ul>
            <li><p>Bookkeeping</p></li>
            <li><p>Invoicing </p></li>
            <li> <p>Income declaration</p></li>
            <li><p>Financial statement </p></li>
            <li><p>Company Registration </p></li>
          </ul> 
       
      </div>
    
    
      
    </div>
    <div class="col-lg-6 py-3">
      <div class="about-img">
        <img src="../assets/img/Registration.jpg" alt="">
      </div>
    </div>
  </div>
</div>
</div>  -->
  <!-- .page-section -->
  <!-- <app-services-text-area  [heading]="'homeAccountServiceHeadingOnSectionTwo'| translate" [para]="
'homeAccountServiceParaOnSectionTwo'| translate 

" [imgSrc]='"../assets/img/Registration.jpg"'
 [bool]="true" [icon]='"fas fa-file-invoice fa-3x"'></app-services-text-area> -->


  <div class="page-section">
    <div class="container-fluid px-5">
      <div class="d-flex justify-content-start align-items-start" style="flex-direction: row; gap: 1rem;">
        <i class="fas fa-file-invoice fa-3x" style="color: #02519c;"></i>
        <h1 class="mt-2" style="font-weight:600;">Accounting </h1>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-6 py-3 d-flex justify-content-start align-items-start"
          style="flex-direction: column; align-self: flex-start;">
          <!-- <div class="subhead">About Us</div> -->
         
          <div class="mt-3">
            <div class="subhead1">
              <h5>Löpande Redovisning</h5>
              <p>
                Vi hanterar dina verifikationer, leverantörsfakturor,
                och kundfakturor. Enligt överenskommelse bestämmer
                vi tillsammans nivån på den redovisning som vi står för
              </p>
            </div>

            <div class="subhead2">
              <h5>Skattedeklaration</h5>
              <p>
                Vi redovisar dina deklarationer för moms och arbetsgivaravgifter
                Samt håller dig uppdaterade om datumet och inlämningstider
              </p>
            </div>

            <div class="subhead3">
              <h5>Bokslut</h5>
              <p>
                Vi kan göra månads-och eller årsbokslut, sammanställer bilagor för revisorer och årsredovisning

              </p>
            </div>

            <div class="subhead3">
              <h5>Årsredovisning</h5>
              <p>
                I samarbete med dig upprättar vi årsredovisning och skickar in till bolagsverket 
              </p>
            </div>

            <div class="subhead3">
              <h5>Interimsuppdrag</h5>
              <p>
                Vi kan under längre och kortare perioder ta på oss interimsuppdrag              </p>
            </div>

          </div>



        </div>
        <div class="col-lg-6 py-3">
          <div class="about-img">
            <img src="../assets/img/Registration.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div> <!-- .page-section -->


  <section>
    <div class="page-section bg-light">
      <div class="container-fluid px-5 ">
      <div class="row">
        <h1 style="font-weight:600;">
        Detta ingår i redovisningstjänsten!
      </h1>
      <ul class="mt-3">
        <li>
          <h5>Löpande Redovisning</h5>
          <p>I det löpande arbetet inräknas hantering av kvitton, leverantörsfakturor, kundfakturor och övriga underlag.
          </p>
        </li>
        <li>
          <h5>Skatt och momsdeklarationer </h5>
          <p>Löpande skatt- och avgiftshantering, samt deklaration av moms och arbetsgivardeklarationer.
          </p>
        </li>
        <li>
          <h5> 1 lön per mån </h5>
          <p>Löneadministration för en (1) anställd per månad
          </p>
        </li>
        <li>
          <h5> Årsbokslut för enskildfirma (Begär offert) </h5>
         
        </li>
        <li>
          <h5>Årsbokslut & årsredovisning för aktiebolag  (Begär offert) </h5>
         
        </li>
      </ul>
      </div>
    </div>
    </div>
  </section>


</main>