/*-------Footer section--------*/
.footer-section {
  margin-top: 4%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  background-color: rgb(41, 42, 45,0.5) ;
}
.footer-items img {
  height: 125px;
  width: 150px;
  background-position: center;
  background-size: cover;
}
.footer-items {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
}

.footer-items i {
  margin-right: 10px;
  padding: 6px;
  color: white;
}
.footer-items i:hover {
  transform: scale(1.5);
  color: tomato;
}

/*-----------CopyRight----------*/
.copyright {
  display: flex;

  justify-content: center;
  align-items: center;
  background-color: #323639;
}
.copyrght-flexItem {
  font-size: 16px;
  padding: 3px;
  align-self: center;
  color: white;
}
