<!-- <div class="page-banner bg-img bg-img-parallax overlay-dark" style="background-image: url(../assets/img/bg_image_3.jpg);">
    <div class="container h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-lg-8">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item"><a href="">Tjänster</a></li>
              <li class="breadcrumb-item active" aria-current="page">Administration</li>
            </ol>
          </nav>
          <h1 class="fg-white text-center">Administration</h1>
        </div>
      </div>
    </div>
  </div> -->
<!-- .page-banner -->

<app-main-image [HomeName]="'breadcrumbContactUsPage1'|translate" [pageName]="'breadcrumbServicesPage1'|translate"
  [pageName2]="'breadcrumbServicesAdministrationPage2'|translate"
 ></app-main-image>
<main>

  <!-- <div class="page-section">
<div class="container-fluid px-5">
  <div class="row align-items-center">
    <div class="col-lg-6 py-3">
      <div class="d-flex justify-content-start align-items-center" style="flex-direction: row; gap: 1rem;">
        <i class="fas fa-user-shield fa-3x" style="color: #02519c;"></i>
        <h1 class="mt-2" style="font-weight:600;">Administration</h1>
      </div>
      <div class="mt-3">
        <p>
          Vi hjälper till med all typ av administration som kunder önskar få hjälp med, samt olika typer av orderhantering.
        </p>
       
      </div>
     
    
      
    </div>
    <div class="col-lg-6 py-3">
      <div class="about-img">
        <img src="../assets/img/bg_image_2.jpg" alt="">
      </div>
    </div>
  </div>
</div>
</div> -->
  <!-- .page-section -->

  <!-- <app-services-text-area  [heading]="'homeAdministrationServiceHeadingOnSectionTwo'| translate" [para]="
 'homeAdministrationServiceParaOnSectionTwo'| translate
" [imgSrc]='"../assets/img/bg_image_2.jpg"'
[bool]="false" [icon]='"fas fa-user-shield fa-3x"'></app-services-text-area> -->


  <div class="page-section">
    <div class="container-fluid px-5">
      <div class="d-flex justify-content-start align-items-start" style="flex-direction: row; gap: 1rem;">
        <i class="fas fa-user-shield fa-3x" style="color: #02519c;"></i>
        <h1 class="mt-2" style="font-weight:600;">{{'AdministrationMainHeading'|translate}}</h1>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-6 py-3 d-flex justify-content-start align-items-start"
          style="flex-direction: column; align-self: flex-start;">
          <!-- <div class="subhead">About Us</div> -->
         
          <div class="mt-3">
            <div class="subhead1">
              <h5>{{'AdministrationFirstSubHeading'|translate}}</h5>
              <p>
                {{'AdministrationFirstSubHeadingPara'|translate}}
              </p>
            </div>

            <div class="subhead2">
              <h5>{{'AdministrationSecondSubHeading'|translate}}</h5>
              <p>
                {{'AdministrationSecondSubHeadingPara'|translate}}
               </p>
            </div>

            <div class="subhead3">
              <h5>{{'AdministrationThirdSubHeading'|translate}}</h5>
              <p>
                {{'AdministrationThirdSubHeadingPara'|translate}}            
              </p>
            </div>

            <div class="subhead4">
              <h5>{{'AdministrationFourthSubHeading'|translate}}</h5>
              <p>
                {{'AdministrationFourthSubHeadingPara'|translate}}         
              </p>
            </div>

            <div class="subhead5">
              <h5>{{'AdministrationFifthSubHeading'|translate}}</h5>
              <p>
                {{'AdministrationFifthSubHeadingPara'|translate}}         
              </p>
            </div>

          </div>



        </div>
        <div class="col-lg-6 py-3">
          <div class="about-img">
            <img src="../assets/img/bg_image_2.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div> <!-- .page-section -->


</main>


<!-- <section class="page-section">
<div class="row bg-light">
  <div class="container-fluid p-5  mt-5  text-center">
  <h2>
    Material på Papper 
  </h2>
  <p>
    Vi välkomnar även kunder som väljer att lämna in sina underlag, fakturor och kvitton på papper. Kontakta oss så vi kan hitta bästa lösningen för dig och din 
verksamhet.
  </p>
  <button class="btn btn-clr">Contact Us</button>
</div>

<div class="container-fluid p-5 mt-5  text-center">
  <h2>
    Funderar du att Starta företag? 
  </h2>
  <p>
    Vi guidar dig genom uppstarten – starta företag. Vi erbjuder dig kostnadsfri konsultation där vi tillsammans går genom din affärsidé och svarar på dina frågor 
    du har kring företagsbildandet.
  </p>
  <button class="btn btn-clr">Contact Us</button>
</div>
</div>
</section> -->