<footer class="page-footer">
    <div class="container-fluid px-5">
        <div class="row">
            <div class="col-lg-3 py-3 d-flex justify-content-start align-items-start" style="flex-direction: column;">
                <!-- <img src="../assets/img/logo.png" style="height:200px; width: 200px;" alt=""> -->
                <h3>FINANSIFY</h3>
                <p class=" mt-4" style="font-weight: 400;">FINANSIFY SOFTWARE (Private) Limited</p>
                <p class="" style="font-weight: 400;">+91 00 33 44 55 66 77</p>
                <p class="" style="font-weight: 400;">Finlandsgatan 10 164 74 Kista Stockholm</p>
                <p class="" style="font-weight: 400;">info@finansifysweden.se</p>
                <div class="sosmed-button mt-5">
                    <a href="https://www.facebook.com/finansifysweden.se" class=""><span class="mai-logo-facebook-f"></span></a>
                    <a href="" class="ml-3"><span class="mai-logo-twitter"></span></a>
                    <a href="" class="ml-3"><span class="mai-logo-linkedin"></span></a>
                </div>
            </div>
            <div class="col-lg-3 py-3 d-flex justify-content-start align-items-center" style="flex-direction: column; ">
                <h3 class="" style="margin-right: 0.8rem;">Links</h3>
                <div class="">
                    <ul class="footer-menu ml-auto  pt-3 ">
                        <li class=" " [routerLinkActive]="['active']">
                            <a [routerLink]="['./home']" class=" nav-style p-0" style="font-weight: 400;">{{'navbarHome'|translate}}</a>
                        </li>
                        <li class=" " [routerLinkActive]="['active']">
                            <a [routerLink]="['./about-us']" class=" nav-style p-0" style="font-weight: 400;">{{'navbarAbout'|translate}}</a>
                        </li>
                        <li class="" [routerLinkActive]="['active']">
                            <a [routerLink]="['./career']" class=" nav-style p-0" style="font-weight: 400;">{{'navbarCareers'|translate}}</a>
                          </li>
                          <li class=" " [routerLinkActive]="['active']">
                            <a [routerLink]="['./pricing']" class=" nav-style p-0" style="font-weight: 400;">{{'navbarPricing'|translate}}</a>
                          </li>
                        <li class="" [routerLinkActive]="['active']">
                            <a [routerLink]="['./contact-us']" class=" nav-style p-0" style="font-weight: 400;">{{'navbarContact'|translate}}</a>
                        </li>
                    </ul>
                </div>


            </div>

            <div class="col-lg-3 py-3 d-flex justify-content-start align-items-center" style="flex-direction: column; ">
                <h3 class="" style="margin-right: 4.5rem;">{{'navbarServices'|translate}}</h3>
                <div class="">
                    <ul class="footer-menu ml-auto  pt-3 ">
                        <li class=" " [routerLinkActive]="['active']">
                            <a [routerLink]="['./Redovisning']" class=" nav-style p-0" style="font-weight: 400;">{{'homeAccountServiceHeadingOnSectionTwo'| translate}}</a>
                        </li>
                        <li class=" " [routerLinkActive]="['active']">
                            <a [routerLink]="['./administration']" class=" nav-style p-0" style="font-weight: 400;">{{'homeAdministrationServiceHeadingOnSectionTwo'| translate}}</a>
                        </li>
                        <li class="" [routerLinkActive]="['active']">
                            <a [routerLink]="['./lon-hr']" class=" nav-style p-0" style="font-weight: 400;">{{'homeSalary&HRServiceHeadingOnSectionTwo'| translate}}</a>
                          </li>
                          <li class=" " [routerLinkActive]="['active']">
                            <a [routerLink]="['./Umbrella-Unemployment']" class=" nav-style p-0" style="font-weight: 400;">{{'homeUmbrellaUnemploymentServiceHeadingOnSectionTwo'| translate}}</a>
                          </li>
                        
                    </ul>
                </div>


            </div>
            <!-- <div class="col-lg-3 py-3 d-flex justify-content-start align-items-center" style="flex-direction: column; ">
                <h3 > {{'navbarServices'|translate}}</h3>
                <ul class="footer-menu ml-auto  ">
                    <li [routerLinkActive]="['active']">
                        <a class="nav-style" 
                        [routerLink]="['./Redovisning']">{{'homeAccountServiceHeadingOnSectionTwo'| translate}}</a>
                    </li>
                    <li [routerLinkActive]="['active']">
                        <a class="nav-style" 
                        [routerLink]="['./Redovisning']">{{'homeAdministrationServiceHeadingOnSectionTwo'| translate}}</a>
                    </li>
                    <li  [routerLinkActive]="['active']">
                        <a class="nav-style"
                        [routerLink]="['./Redovisning']">{{'homeSalary&HRServiceHeadingOnSectionTwo'| translate}}</a>
                    </li>
                    <li [routerLinkActive]="['active']">
                        <a class="nav-style" 
                        [routerLink]="['./Redovisning']">{{'homeUmbrellaUnemploymentServiceHeadingOnSectionTwo'| translate}}</a>
                    </li>
                    
                </ul>
            </div> -->
            <div class="col-lg-3 py-3">
                <h3>{{'FooterFourthSectionHeading'| translate}}</h3>
                <form action="#">
                    <input type="text" class="form-control" placeholder="{{'ContactFormEmailPlaceHolder'| translate}}"  
                        style="min-height: 35px; border-radius: 0%;">
                    <button type="submit" class="btn btn-clr btn-sm mt-2">{{'SubmitButton'| translate}}</button>
                </form>
            </div>
        </div>

    </div>

</footer>