<app-main-image [HomeName]="'breadcrumbPricingPage1'|translate" [pageName]="'breadcrumbPricingPage2'|translate" [pageNameHeading]="'breadcrumbPricingPage2'|translate"></app-main-image>


<div class="container-fluid">

    <div class="row   mt-5">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <h1 style="font-weight: 900;">{{'homePricingSectionHeading'| translate}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <h3 style="font-weight: 400;">{{'homePricingSectionSubHeading'| translate}}</h3>
        </div>
    </div>
    <div class="row   mt-5">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <div class="card menu rounded-pill d-flex justify-content-between align-items-center px-1 py-1"
                style="flex-direction: row;">
                <button class="btn rounded-pill" (click)="button1Items()" [ngClass]="item1===1 ? 'active' : 'danger'">Upp till 900 000 kr </button>
                <button class="btn rounded-pill" (click)="button2Items()" [ngClass]="item1===2 ? 'active' : 'danger'">Upp till 900 000 kr </button>
                <button class="btn rounded-pill" (click)="button3Items()" [ngClass]="item1===3 ? 'active' : 'danger'">Upp till 900 000 kr </button>
            </div>
        </div>
    </div>

    <div class="row  pb-5 mt-5">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="row " *ngIf="item1===1" data-aos="fade-up" >
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 p-1">
                    <div class="box card d-flex justify-content-center align-items-center">
                        <h1 class="head mt-3">Small 1</h1>
                        <h1 class="price"><sup>KR</sup> 595 <sub>/MAN</sub></h1>
                        <div class="list px-5">
                            <ul class="mt-5">
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                            </ul>
                        </div>
                        <div class="row mt-5 py-5">
                            <button class="btn btn-lg btn-size rounded-pill px-5" >Offer</button>
                        </div>

                    </div>

                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 p-1 ">
                    <div class="box card d-flex justify-content-center align-items-center">
                        <h1 class="head mt-3">Medium1</h1>
                        <h1 class="price"><sup>KR</sup> 995 <sub>/MAN</sub></h1>
                        <div class="list px-5">
                            <ul class="mt-5">
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                            </ul>
                        </div>
                        <div class="row mt-5 py-5">
                            <button class="btn btn-lg btn-size rounded-pill px-5">Offer</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12  p-1 ">
                    <div class="box card d-flex justify-content-center align-items-center">
                        <h1 class="head mt-3">Large 1</h1>
                        <h1 class="price"> <sup>KR</sup> 1995 <sub>/MAN</sub></h1>
                        <div class="list px-5">
                            <ul class="mt-5">
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                            </ul>
                        </div>
                        <div class="row mt-5 py-5">
                            <button class="btn btn-lg btn-size rounded-pill px-5">Offer</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-----------Button 2 items---------->
            <div class="row " *ngIf="item1===2" data-aos="fade-up">
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 p-1">
                    <div class="box card d-flex justify-content-center align-items-center">
                        <h1 class="head mt-3">Small 2</h1>
                        <h1 class="price"><sup>KR</sup> 595 <sub>/MAN</sub></h1>
                        <div class="list px-5">
                            <ul class="mt-5">
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                            </ul>
                        </div>
                        <div class="row mt-5 py-5">
                            <button class="btn  btn-lg btn-size rounded-pill px-5 ">Offer</button>
                        </div>

                    </div>

                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 p-1 ">
                    <div class="box card d-flex justify-content-center align-items-center">
                        <h1 class="head mt-3">Medium 2</h1>
                        <h1 class="price"><sup>KR</sup> 995 <sub>/MAN</sub></h1>
                        <div class="list px-5">
                            <ul class="mt-5">
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                            </ul>
                        </div>
                        <div class="row mt-5 py-5">
                            <button class="btn btn-lg btn-size rounded-pill px-5">Offer</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12  p-1 ">
                    <div class="box card d-flex justify-content-center align-items-center">
                        <h1 class="head mt-3">Large 2</h1>
                        <h1 class="price"><sup>KR</sup> 1995 <sub>/MAN</sub></h1>
                        <div class="list px-5">
                            <ul class="mt-5">
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                            </ul>
                        </div>
                        <div class="row mt-5 py-5">
                            <button class="btn btn-lg btn-size rounded-pill px-5">Offer</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-----------Button 3 items---------->
            <div class="row " *ngIf="item1===3" data-aos="fade-up" >
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 p-1">
                    <div class="box card d-flex justify-content-center align-items-center">
                        <h1 class="head mt-3">Small 3</h1>
                        <h1 class="price"><sup>KR</sup> 595 <sub>/MAN</sub></h1>
                        <div class="list px-5">
                            <ul class="mt-5">
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                            </ul>
                        </div>
                        <div class="row mt-5 py-5">
                            <button class="btn  btn-lg btn-size rounded-pill px-5 "  >Offer</button>
                        </div>

                    </div>

                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 p-1 ">
                    <div class="box card d-flex justify-content-center align-items-center">
                        <h1 class="head mt-3">Medium 3</h1>
                        <h1 class="price"><sup>KR</sup> 995 <sub>/MAN</sub></h1>
                        <div class="list px-5">
                            <ul class="mt-5">
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                            </ul>
                        </div>
                        <div class="row mt-5 py-5">
                            <button class="btn btn-lg btn-size rounded-pill px-5">Offer</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12  p-1 ">
                    <div class="box card d-flex justify-content-center align-items-center">
                        <h1 class="head mt-3">Large 3</h1>
                        <h1 class="price"><sup>KR</sup> 1995 <sub>/MAN</sub></h1>
                        <div class="list px-5">
                            <ul class="mt-5">
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                                <li>
                                    loream Ispum
                                </li>
                            </ul>
                        </div>
                        <div class="row mt-5 py-5">
                            <button class="btn btn-lg btn-size rounded-pill px-5">Offer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>





</div>
