<nav class="navbar navbar-expand-lg " style="background-color: #F7F7F7;">
  <div class="container-fluid px-5" style="height: 90px;">
    <a [routerLink]="['./home']" class="navbar-brand pt-0">
      <img src="../assets/img/logo.jpg" style="height:50px; width: 150px;" alt="">
    </a>

    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarContent">
      <ul class="navbar-nav ml-auto pt-3 pt-lg-0">
        <li class="nav-item mr-1" [routerLinkActive]="['active']">
          <a [routerLink]="['./home']" class="nav-link nav-style">{{'navbarHome'|translate}}</a>
        </li>
        <li class="nav-item mr-1" [routerLinkActive]="['active']">
          <a [routerLink]="['./about-us']" class="nav-link nav-style">{{'navbarAbout'|translate}}
          </a>
        </li>
        <li class="nav-item dropdown" [routerLinkActive]="['active']">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            {{'navbarServices'|translate}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item nav-link nav-style" [routerLinkActive]="['active']"
              [routerLink]="['./Redovisning']">Redovisning</a>
            <a class="dropdown-item nav-link nav-style" [routerLinkActive]="['active']"
              [routerLink]="['./administration']">Administration</a>
            <a class="dropdown-item nav-link nav-style" [routerLinkActive]="['active']" [routerLink]="['./lon-hr']">Lön
              & HR</a>
            <a class="dropdown-item nav-link nav-style" [routerLinkActive]="['active']"
              [routerLink]="['./Umbrella-Unemployment']">Umbrella Unemployment</a>
          </div>
        </li>
        <!-- <li class="nav-item mr-1">
            <a href="services.html" class="nav-link nav-style">Tjänster</a>
          </li> -->
        <li hidden class="nav-item mr-1" [routerLinkActive]="['active']">
          <a [routerLink]="['./portfolio']" class="nav-link nav-style">{{'navbarProjects'|translate}}</a>
        </li>
        <li class="nav-item mr-1" [routerLinkActive]="['active']">
          <a [routerLink]="['./pricing']" class="nav-link nav-style">{{'navbarPricing'|translate}}</a>
        </li>
        <!-- <li class="nav-item">
            <a href="blog.html" class="nav-link">News</a>
          </li> -->
        <li class="nav-item" [routerLinkActive]="['active']">
          <a [routerLink]="['./contact-us']" class="nav-link nav-style">{{'navbarContact'|translate}}</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a [routerLink]="['./career']" class="nav-link nav-style">{{'navbarCareers'|translate}}</a>
        </li>
        <li class="nav-item">
          <a href="http://portal-financify.workblix.com/" class="nav-link nav-style">{{'navbarPortal'|translate}}</a>
        </li>
        <li class="nav-item">

          <select class=" rounded-pill btn btn-clr" #selectedLang (change)="switchLanguage(selectedLang.value)"
            id="Select Language" style="background-color: #e66124; color: white;">
            <option *ngFor="let language of translate.getLangs()" [value]="language"
              [selected]="language === translate.currentLang" style="background-color: white; color: #e66124; font-size: large;text-align: center;">
              {{language}}
            </option>
          </select>

          <!-- <select class=" rounded-pill btn btn-clr" 
           style="background-color: #e66124; color: white;" (change)="switchLanguage(selectedLang.value)">
          <option *ngFor="let data of language"  style="background-color: white; color: #e66124; width:100px"
          
          >
            
            {{data.name}}
              <img width="10px" height="10px" src="../assets/img/flags-svg/se.svg" alt="" />
          </option>
        </select>
         -->
        
        
        </li>

        <!-- <li>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </li> -->

      </ul>
    </div>
  </div> <!-- .container -->
</nav> <!-- .navbar -->