<div
  data-aos="fade-zoom-in"
  data-aos-easing="ease-in-back"
  data-aos-delay="300"
  data-aos-offset="0"
>
  <app-nav-bar [mode]="'about-us'"></app-nav-bar>
  
  <!----SERVICES SECTION Main Text-->
  <br />
  <div class="container">
    <div class="row">
      <div class="col col-lg-12 col-md-12 col-sm-12 col-12">
        <p class="services-text">Services</p>
      </div>
    </div>
  </div>
  <!----SERVICES SECTION-->
  <div class="container Section">
    <div class="row">
      <div class="col col-lg-6 col-md-6 col-sm-6 col-12 ServiceItem1">
        <p class="Services-Main-Text">
          <i class="fas fa-file-signature " ></i> Company Registration
          
        </p>
        <p class="Services-Sec-Text">
          Service will include, which type of company suitable for client, we
          will give help to register company and its tax related issue.
        </p>
      </div>
      <div class="col col-lg-6 col-md-6 col-sm-6 col-12 ServiceItem2">
        <p class="Services-Main-Text">
          <i class="fas fa-file-invoice " ></i> Bookkeeping 
        </p>
        <p class="Services-Sec-Text">
          It included accountancy services such as bookkeeping,
        </p>
        <ol style="margin-left: 5rem;">
          <li>
            Monthly bookkeeping
          </li>
          <li>
            VAT Declaration
          </li>
          <li>
            Income Declaration
          </li>
          <li>
            Tax account reconciliation
          </li>
          <li>
            Closing of books
          </li>
          <li>
            Årsredovisnings
          </li>
        </ol>
      </div>
    </div>
  </div>
  <!----SERVICES SECTION 2-->
  <div class="container Section">
    <div class="row">
      <div class="col col-lg-6 col-md-6 col-sm-6 col-12 ServiceItem1">
        <p class="Services-Main-Text">
          <i class="fas fa-file-signature " ></i> Payroll Services
        </p>
        <p class="Services-Sec-Text">
          It includes payroll administration of clients, such as time
          registration, employer tax declaration, providing of Job certificate
          and HR relevant Services. We will act as outsourced payroll service
          agency.
        </p>
      </div>
      <div class="col col-lg-6 col-md-6 col-sm-6 col-12 ServiceItem2">
        <p class="Services-Main-Text">
          <i class="fas fa-file-invoice " ></i>	Umberalla  Contracting
        </p>
        <p class="Services-Sec-Text">
          These services included to arrange payroll and tax service for the
          consultants which are hired by recruitment agencies and sent to
          clients. We will act/ work as Umbrella company who will arrange
          taxation matters with local authorities and will manage payroll and HR
          related tasks of the consultants which are sent to us by recruitment
          firms.
        </p>
      </div>
    </div>
  </div>
  <!----Sponsers Section 1---->

  <!-- <div class="container sponser-Section">
    <div class="sponsers"><img src="/assets/Images/logo.png" /></div>
    <div class="sponsers"><img src="/assets/Images/logo.png" /></div>
    <div class="sponsers"><img src="/assets/Images/logo.png" /></div>
    <div class="sponsers"><img src="/assets/Images/logo.png" /></div>
    <div class="sponsers"><img src="/assets/Images/logo.png" /></div>
    <div class="sponsers"><img src="/assets/Images/logo.png" /></div>
  </div>
  <!----Sponsers Section 2---->

  <!-- <div class="container sponser-Section">
    <div class="sponsers"><img src="/assets/Images/logo.png" /></div>
    <div class="sponsers"><img src="/assets/Images/logo.png" /></div>
    <div class="sponsers"><img src="/assets/Images/logo.png" /></div>
    <div class="sponsers"><img src="/assets/Images/logo.png" /></div>
    <div class="sponsers"><img src="/assets/Images/logo.png" /></div>
    <div class="sponsers"><img src="/assets/Images/logo.png" /></div>
  </div>  -->

  <app-footer></app-footer>
</div>
