<!-- <div class="page-banner bg-img bg-img-parallax overlay-dark" style="background-image: url(../assets/img/bg_image_3.jpg);">
    <div class="container h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-lg-8">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item"><a href="">Tjänster</a></li>
              <li class="breadcrumb-item active" aria-current="page">Umbrella Unemployment</li>
            </ol>
          </nav>
          <h1 class="fg-white text-center">Umbrella Unemployment</h1>
        </div>
      </div>
    </div>
  </div> -->
   <!-- .page-banner -->
   <app-main-image [HomeName]="'breadcrumbContactUsPage1'|translate" [pageName]="'breadcrumbServicesPage1'|translate" [pageName2]="'breadcrumbServicesUmbrellaUnemploymentPage2'|translate" ></app-main-image>

  <main>
    <!-- <div class="page-section">
      <div class="container-fluid px-5">
        <div class="row align-items-center">
          <div class="col-lg-6 py-3">
          
            <div class="d-flex justify-content-start align-items-center" style="flex-direction: row; gap: 1rem;">
              <i class="fas fa-user-friends fa-3x" style="color: #02519c;"></i>
              <h1 class="mt-2" style="font-weight:600;">Umbrella Unemployment</h1>
            </div>
            <div class="mt-3">
              <p>
                The Umbrella employment Solutions offered to those organizations and individuals who don’t want to establish itself in Sweden as an employer or neither wants to involve in the matter to filling tax returns and maintaining books for the operations taking place in Sweden.
              </p>
             
            </div>
           
          
            
          </div>
          <div class="col-lg-6 py-3">
            <div class="about-img">
              <img src="../assets/img/bg_image_1.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>  -->
    <!-- .page-section -->
    <!-- <app-services-text-area  [heading]="'homeUmbrellaUnemploymentServiceHeadingOnSectionTwo'| translate" [para]="
    'homeUmbrellaUnemploymentServiceParaOnSectionTwo'| translate

" [imgSrc]='"../assets/img/bg_image_1.jpg"'
 [bool]="false" [icon]='"fas fa-user-friends fa-3x"'></app-services-text-area> -->
    

 <div class="page-section">
  <div class="container-fluid px-5">
    <div class="d-flex justify-content-start align-items-start" style="flex-direction: row; gap: 1rem;">
      <i class="fas fa-user-shield fa-3x" style="color: #02519c;"></i>
      <h1 class="mt-2" style="font-weight:600;">{{'UmbrellaUnemployementMainHeading'|translate}}</h1>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6 py-3 d-flex justify-content-start align-items-start"
        style="flex-direction: column; align-self: flex-start;">
        <!-- <div class="subhead">About Us</div> -->
       
        <div class="mt-3">
          <div class="subhead1">
           
            <p>
              {{'UmbrellaUnemployementFirstSubHeadingPara'|translate}}
            </p>
          </div>

          <div class="subhead2">
            <h5>{{'UmbrellaUnemployementSecondSubHeading'|translate}}</h5>
            <p>
              {{'UmbrellaUnemployementSecondSubHeadingPara'|translate}}
                           
            </p>
          </div>

        

        </div>



      </div>
      <div class="col-lg-6 py-3">
        <div class="about-img">
          <img src="../assets/img/bg_image_2.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div> <!-- .page-section -->


 </main>






