
  <app-nav-bar [mode]="'job-app'"></app-nav-bar>

<div class="container-fluid">

  <div class="flex2">
    <div class="flex2items">
      <form>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="First name">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Last name">
          </div>
        </div>
        <div class="row" style="margin-top: 2rem;">
          <div class="col">
            <input type="text" class="form-control" placeholder="Contact Number">
          </div>
        </div>
        <div class="row" style="margin-top: 2rem;">
          <div class="col">
            <input type="email" class="form-control" placeholder="Email">
          </div>
        </div>
        <div class="input-group" style="margin-top: 2rem;">
          <label class="input-group-btn my-0">
            <span class="btn btn-large btn-outline-primary rounded-0" id="browse" >
                Browse&hellip; 
              <input id="csv-input" type="file" accept=".csv" multiple>
            </span>
        </label>
<input type="text" class="form-control rounded-0" readonly placeholder="Please upload your CV">
        </div>
        <button type="submit" class="btn btn-primary btn-md" style="margin-top: 2rem; padding: 5px 20px 5px 20px;">Submit
        </button>
      </form>
    </div>
    <div class="flex2items">
      <img src="/assets/Images/Joinn.jpg" alt="">
    </div>
  </div>
</div>


<app-footer></app-footer>
