.container-fluid{
    padding: 40px;
    background-color: rgb(238, 236, 236);
    box-sizing: border-box;
    height: 100vh;
}

.flex{
    display: flex;
    justify-content:  space-around;
    align-items: center;
    box-sizing: border-box;
    padding: 60px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
  }
  
  @media (min-width: 1025px) {
    .h-custom-2 {
      height: 100%;
    }
  }
  input{
    outline: 0;
    border-width: 0 0 2px ;
    cursor: pointer;
    position: relative;
    border-color: blue;
    border-radius: 0% !important;
  }

//   .input::before{
 
//     content: "";
//     position: absolute;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     height: 2px;
//     background-color: blue;
//       transform: scaleX(0);
//       transition: transform 300ms ease-in-out;
//     }
//   .input:hover::before,
//     .input:focus::before{
//       transform: scaleX(1);
//     }

  .flexitems2 img{
background-image: url(/assets/Images/Sign-in.jpg);
height: 500px;
width: 500px;
background-size: cover;
background-position: center;
  }


