:host ::ng-deep .Navbar-Div {
  height: 425px !important;
  background-image: url(/assets/Images/GIT.jpg);
  background-position: center;
  background-size: cover;

}
:host ::ng-deep .big-text{
  // letter-spacing: 2 px;
  font-size: 80px;
  
  text-align: start;
  line-height: 1;
  font-family: Bebas Neue;
}
:host ::ng-deep .textflex{
  display: flex;
  justify-content: flex-start !important;
  padding-left: 150px !important;
  padding-top: 50px;
  
  flex-direction: row;

}
:host ::ng-deep .small-text{
  color: white;
  font-weight: 600;
  text-align: start !important;
  font-size: x-large;

}
/*------------- Portfolio Section TEXT -------------------- */
.container {
  margin-top: 4%;
}
.Potfolio-main-text {
  text-align: start;
  font-size: 52px;
  font-weight: 700;
  padding-left: 6%;
}

/*-------------------INFO SECTION------------*/
.contactflex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
  margin-top: 5rem;
  flex-wrap: wrap;
}

.Info-Section {
  
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;

   gap: 10rem;
}
.Main-text-Info {
  font-size: x-large;
  letter-spacing: 1px;
  font-family: Bebas Neue;
  
  
}
.Main-text-Info-1 {
  
  font-size: x-large;
  
  font-weight: bold;
  
}
.Sec-text-info {
  font-size: medium;
  text-align: end;
  
  color: grey;
  width: 250px;
}
.Sec-text-info-1 {
  
  font-size: medium;
  align-self: center;
  color: grey;

  width: 250px;
}
.Sec-text-info i {
 margin-right: 15px;
 
}
.phone{
  line-height: 0;
}
