<div
  data-aos="fade-zoom-in"
  data-aos-easing="ease-in-back"
  data-aos-delay="300"
  data-aos-offset="0"
>
  <app-scroll-up-btn></app-scroll-up-btn>
  <app-nav-bar></app-nav-bar>
  <!----Contact Main Text-->
  <br />
  <div class="container">
    <div class="row">
      <div class="col col-lg-12 col-md-12 col-sm-12 col-12">
        <p class="Potfolio-main-text">GET IN TOUCH</p>
      </div>
    </div>
  </div>
  <!----Contact SECTION-->

  <div class="container">
    <div class="row">
      <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="Info-Section">
          <div class="Main-text-Info">
            <p>ADDRESS</p>
          </div>
          <div class="Sec-text-info">
            <p>
              KONSULTANT SOFTWARE (Private) Limited UAE: 208/209 Opal Tower, Al
              Abraj street, Dubai Pakistan: 51 MB, DHA XI, Lahore
            </p>
          </div>
        </div>
        <div class="Info-Section">
          <div class="Main-text-Info-1">
            <p>EMAIL</p>
          </div>
          <div class="Sec-text-info-1">
            <p>Email@gmail.com</p>
          </div>
        </div>
        <div class="Info-Section">
          <p class="Main-text-Info-1">PHONE</p>
          <p class="Sec-text-info-1">0900-78601</p>
          <p class="Sec-text-info">Mon - Sat, 9AM - 7PM</p>
        </div>
        <div class="Info-Section">
          <p class="Main-text-Info-1">Socials</p>
          <div class="Sec-text-info-1">
            <i class="fab fa-twitter"></i>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-linkedin-in"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-youtube"></i>
          </div>
        </div>
      </div>
      <div class="col col-lg-6 col-md-6 col-sm-12 col-12"></div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
