<!-- <div class="page-banner bg-img bg-img-parallax overlay-dark" style="background-image: url(../assets/img/bg_image_3.jpg);">
    <div class="container h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-lg-8">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Join Us</li>
            </ol>
          </nav>
          <h1 class="fg-white text-center">Join Us</h1>
        </div>
      </div>
    </div>
  </div>  -->

<!-- .page-banner -->

<app-main-image [HomeName]="'breadcrumbContactUsPage1'|translate" [pageName]="'breadcrumbContactUsPage2'|translate" [pageNameHeading]="'breadcrumbContactUsPage2'|translate"></app-main-image>


<!-- 
<div class="page-section ">
    <div class="container-fluid px-5">
        <div class="row text-center">
            <h2 class="title-section mb-3">Join Us</h2>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <p class=" text-center">Our team is rapidly growing and we are currently seeking for new candidates to
                    help contribute to our success.
                    If you are interested in being a part of Financify Team, please complete below form and we will
                    reach out.</p>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</div>
 -->



<!-------------------------------------------Form-------------------------------------------------->
<div class="page-section">
  <div class="container-fluid px-5">
    <div class="text-center">
      <h2 class="title-section mb-3">{{'CarrerPageHeading'| translate}}</h2>
    </div>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <p class=" text-center">{{'CarrerPageSubHeading'| translate}}</p>
      </div>
      <div class="col-3"></div>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="col-lg-8">
        <form *ngIf="joinForm" [formGroup]="joinForm" (ngSubmit)="save()">

          <div class="row">
            <div class="col-sm-12 py-2">
              <label for="name" class="fg-grey">{{'CarrerPageFullNameLabel'| translate}}</label>
              <input type="text" class="form-control" placeholder="Enter your name.." formControlName="fullName"
                [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }">
              <div *ngIf="submitted && f.fullName.errors" class="invalid-feedback">
                <div *ngIf="f.fullName.errors.required">Name is required</div>
                <div *ngIf="f.fullName.errors.maxlength">Must be less then 100 characters</div>
              </div>
            </div>

            <div class="col-6 py-2">
              <label for="email" class="fg-grey">{{'CarrerPageEmailLabel'| translate}}</label>
              <input type="text" class="form-control" id="email" placeholder="Email address.."
                formControlName="emailAddress" [ngClass]="{ 'is-invalid': submitted && f.emailAddress.errors }">
              <div *ngIf="submitted && f.emailAddress.errors" class="invalid-feedback">
                <div *ngIf="f.emailAddress.errors.required">Email is required</div>
                <div *ngIf="f.emailAddress.errors.maxlength">Must be less then 100 characters</div>
              </div>
            </div>
            <div class="col-6 py-2">
              <label for="phone" class="fg-grey">{{'CarrerPagePhoneNumberLabel'| translate}}</label>
              <input type="text" class="form-control" placeholder="Phone.."
                formControlName="mobileNo" [ngClass]="{ 'is-invalid': submitted && f.mobileNo.errors }">
              <div *ngIf="submitted && f.mobileNo.errors" class="invalid-feedback">
                <div *ngIf="f.mobileNo.errors.required">Phone is required</div>
                <div *ngIf="f.mobileNo.errors.maxlength">Must be less then 50 characters</div>
              </div>
            </div>
            <div class="col-6 py-2">
              <label for="email" class="fg-grey">{{'CarrerPageCoverLetterLabel'| translate}}</label>
              <input type="text" class="form-control " placeholder="Cover Letter"
                formControlName="coverText" [ngClass]="{ 'is-invalid': submitted && f.coverText.errors }">
              <div *ngIf="submitted && f.coverText.errors" class="invalid-feedback">
                <div *ngIf="f.coverText.errors.maxlength">Must be less then 100 characters</div>
              </div>
            </div>
            <div class="col-6 py-2">
              <label for="phone" class="fg-grey ">{{'CarrerPageCoverLetterFileLabel'| translate}}</label>
              <app-upload [moduleType]='1' (onUploadFinished)="SetResponseCover($event)" [ngClass]="{ 'is-invalid': submitted && f.fileName.errors }"></app-upload>
            </div>
            <div class="col-12 py-2">
              <label for="inputGroupSelect01" class="fg-grey">{{'CarrerPageJobLabel'| translate}}</label>
              <select class="custom-select form-control" formControlName="jobId"
                [ngClass]="{ 'is-invalid': submitted && f.jobId.errors }">
                <option [ngValue]=0 disabled>Select Job</option>
                <option [ngValue]="1">One</option>
                <option [ngValue]="2">Two</option>
                <option [ngValue]="3">Three</option>
              </select>
              <div *ngIf="submitted && f.jobId.errors" class="invalid-feedback">
                <div *ngIf="f.jobId.errors.required">Required</div>
              </div>
            </div>

            <div class="col-12 py-2">
              <label for="message" class="fg-grey">{{'CarrerPageDescriptionLabel'| translate}}</label>
              <textarea id="message" rows="8" class="form-control" formControlName="body"
                placeholder="Enter message.." [ngClass]="{ 'is-invalid': submitted && f.body.errors }"></textarea>
              <div *ngIf="submitted && f.body.errors" class="invalid-feedback">
                <div *ngIf="f.body.errors.required">Required</div>
                <div *ngIf="f.body.errors.maxlength">Must be less then 500 characters</div>
              </div>
            </div>
            <div class="col-12 py-2">
              <label class="fg-grey">{{'CarrerPageUploadButtonText'| translate}}</label>
              <app-upload [moduleType]='1' (onUploadFinished)="SetResponseCV($event)" [ngClass]="{ 'is-invalid': submitted && f.fileName.errors }"></app-upload>
              <div *ngIf="submitted && f.fileName.errors" class="invalid-feedback">
                <div *ngIf="f.fileName.errors.required">File is required</div>
              </div>
            </div>
            <div class="col-12 mt-3">
              <button type="submit" (click)="save()" class="btn btn-clr px-5">{{'ContactFormSubmitButtonText'| translate}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div> <!-- .container -->
</div> <!-- .page-section -->