<div class="page-banner bg-img bg-img-parallax overlay-dark" style="background-image: url(../assets/img/bg_image_3.jpg);">
    <div class="container h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-lg-8">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Careers</li>
            </ol>
          </nav>
          <h1 class="fg-white text-center">Careers</h1>
        </div>
      </div>
    </div>
  </div> <!-- .page-banner -->





<div class="page-section bg-light">
    <div class="container-fluid px-5">
        <div class="row text-center">
            <h2 class="title-section mb-3">Join Us</h2>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <p class=" text-center">Our team is rapidly growing and we are currently seeking for new candidates to
                    help contribute to our success.
                    If you are interested in being a part of Financify Team, please complete below form and we will
                    reach out.</p>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</div>




<!-------------------------------------------Form-------------------------------------------------->
<div class="page-section">
    <div class="container-fluid px-5">
        <div class="text-center">
            <h2 class="title-section mb-3">Join Us</h2>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <p class=" text-center">Our team is rapidly growing and we are currently seeking for new candidates to
                    help contribute to our success.
                    If you are interested in being a part of Financify Team, please complete below form and we will
                    reach out.</p>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-lg-8">
                <form action="#" class="form-contact">
                    <div class="row">
                        <div class="col-sm-6 py-2">
                            <label for="name" class="fg-grey">First Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter first name..">
                        </div>
                        <div class="col-sm-6 py-2">
                            <label for="name" class="fg-grey">Last Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter last name..">
                        </div>
                        <div class="col-6 py-2">
                            <label for="email" class="fg-grey">Email</label>
                            <input type="text" class="form-control" id="email" placeholder="Email address..">
                        </div>
                        <div class="col-6 py-2">
                            <label for="phone" class="fg-grey">Phone Number</label>
                            <input type="number" class="form-control" id="phone" placeholder="Enter Phone Number..">
                        </div>
                        <div class="col-12 py-2">
                            <label for="inputGroupSelect01" class="fg-grey">Job</label>
                            <select class="custom-select form-control" id="inputGroupSelect01">
                              <option selected>Select Job</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                          </div>
                        
                        <div class="col-12 py-2">
                            <label for="message" class="fg-grey">Description</label>
                            <textarea id="message" rows="8" class="form-control"
                                placeholder="Enter message.."></textarea>
                        </div>
                        <div class="col-12 py-2">
                            
                            <label for="formFileLg" class="fg-grey">Upload Resume</label>
                            <input class="form-control form-control-lg" id="formFileLg" type="file">
                        </div>
                        <div class="col-12 mt-3">
                            <button type="submit" class="btn btn-primary px-5">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div> <!-- .container -->
</div> <!-- .page-section -->