
<app-main-image [HomeName]="'breadcrumbContactUsPage1'|translate" [pageName]="'breadcrumbContactUsPage2'|translate" [pageNameHeading]="'breadcrumbContactUsPage2'|translate"></app-main-image>

<div class="page-section">
  <div class="container-fluid px-5">
    <div class="text-center">
      <h2 class="title-section mb-3">{{'CarrerPageHeading'| translate}}</h2>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <p class="text-justify">{{'CarrerPageSubHeading'| translate}}</p>
      </div>
      <div class="col-1"></div>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="col-lg-8">
        <form *ngIf="joinForm" [formGroup]="joinForm" (ngSubmit)="save()">

          <div class="row">
            <div class="col-sm-12 py-2">
              <label for="name" class="fg-grey">{{'CarrerPageFullNameLabel'| translate}}</label>
              <input type="text" class="form-control" placeholder="Enter your name.." formControlName="fullName"
                [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }">
              <div *ngIf="submitted && f.fullName.errors" class="invalid-feedback">
                <div *ngIf="f.fullName.errors.required">Name is required</div>
                <div *ngIf="f.fullName.errors.maxlength">Must be less then 100 characters</div>
              </div>
            </div>

            <div class="col-6 py-2">
              <label for="email" class="fg-grey">{{'CarrerPageEmailLabel'| translate}}</label>
              <input type="text" class="form-control" id="email" placeholder="Email address.."
                formControlName="emailAddress" [ngClass]="{ 'is-invalid': submitted && f.emailAddress.errors }">
              <div *ngIf="submitted && f.emailAddress.errors" class="invalid-feedback">
                <div *ngIf="f.emailAddress.errors.required">Email is required</div>
                <div *ngIf="f.emailAddress.errors.maxlength">Must be less then 100 characters</div>
              </div>
            </div>
            <div class="col-6 py-2">
              <label for="phone" class="fg-grey">{{'CarrerPagePhoneNumberLabel'| translate}}</label>
              <input type="text" class="form-control" placeholder="Phone.."
                formControlName="mobileNo" [ngClass]="{ 'is-invalid': submitted && f.mobileNo.errors }">
              <div *ngIf="submitted && f.mobileNo.errors" class="invalid-feedback">
                <div *ngIf="f.mobileNo.errors.required">Phone is required</div>
                <div *ngIf="f.mobileNo.errors.maxlength">Must be less then 50 characters</div>
              </div>
            </div>                    
            <div class="col-12 py-2">
              <label for="inputGroupSelect01" class="fg-grey">{{'CarrerPageJobLabel'| translate}}</label>
              <select class="custom-select form-control" formControlName="jobId"
                [ngClass]="{ 'is-invalid': submitted && f.jobId.errors }">
                <option [ngValue]=0 disabled>Select Job</option>
                <option [ngValue]="1">One</option>
                <option [ngValue]="2">Two</option>
                <option [ngValue]="3">Three</option>
              </select>
              <div *ngIf="submitted && f.jobId.errors" class="invalid-feedback">
                <div *ngIf="f.jobId.errors.required">Required</div>
              </div>
            </div>

            <div class="col-12 py-2">
              <label for="message" class="fg-grey">{{'CarrerPageDescriptionLabel'| translate}}</label>
              <textarea id="message" rows="8" class="form-control" formControlName="body"
                placeholder="Enter message.." [ngClass]="{ 'is-invalid': submitted && f.body.errors }" ></textarea>
              <div *ngIf="submitted && f.body.errors" class="invalid-feedback">
                <div *ngIf="f.body.errors.required">Required</div>
                <div *ngIf="f.body.errors.maxlength">Must be less then 500 characters</div>
              </div>
            </div>
            <div class="col-12 py-2">
              <label for="email" class="fg-grey">{{'CarrerPageCoverLetterLabel'| translate}}</label>
              <textarea type="text" class="form-control " placeholder="Cover Letter"
                formControlName="coverText" rows="8" [ngClass]="{ 'is-invalid': submitted && f.coverText.errors && validator()==false }"></textarea>
              <div *ngIf="submitted && f.coverText.errors" class="invalid-feedback">
                <div *ngIf="f.body.errors.required &&  validator()==false">Required</div>
                <div *ngIf="f.coverText.errors.maxlength ">Must be less then 100 characters</div>
                
              </div>
            </div> 
            <div class="col-5 py-2  d-flex justify-content-start align-items-center" style="flex-direction: row; gap: 1rem;">
              <label class="fg-grey align-self-center " >{{'CarrerPageUploadCVLabel'| translate}}</label>
              <app-upload [moduleType]='1' (onUploadFinished)="SetResponseCV($event)" [ngClass]="{ 'is-invalid': submitted && f.fileName.errors }"></app-upload>
            
              <div *ngIf="submitted && f.fileName.errors" class="invalid-feedback">
                <div *ngIf="f.fileName.errors.required">File is required</div>
              </div>
            </div>
            <div class="col-6 py-2 d-flex justify-content-start align-items-center" style="flex-direction: row; gap: 1rem;">
              <label for="phone" class="fg-grey">{{'CarrerPageCoverLetterFileLabel'| translate}}</label>
              <app-upload [moduleType]='1' (onUploadFinished)="SetResponseCover($event)" [ngClass]="{ 'is-invalid': submitted && f.fileName.errors  && validator()==false}"></app-upload>
              <div  *ngIf="submitted && f.fileName.errors " class="invalid-feedback">
              <div  *ngIf="f.fileName.errors.required &&  validator()==false">File is required</div>           
              
            </div>
            </div>
            
<app-captcha *ngIf="!isHumman " (valueChange)='captchaResult($event)'></app-captcha>
            <div class="col-12 mt-3">
              <button type="submit" [disabled]="!isHumman"  class="btn btn-clr px-5">{{'ContactFormSubmitButtonText'| translate}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div> <!-- .container -->
</div> <!-- .page-section -->
