<div [attr.data-aos]="animation" data-aos-easing="ease-in-back" data-aos-delay="300" data-aos-offset="0">
  <app-nav-bar></app-nav-bar>
  <!----Portfolio Main Text-->
  <br />
  <div class="container">
    <div class="row">
      <div class="col col-lg-5 col-md-5 col-sm-5 col-5">
        <a href="" style=" padding-left: 5%;">PORTFOLIO</a>
        <p class="Potfolio-main-text">LATEST WORKS</p>
        <p style=" padding-left: 5%;">Curious to know what takes to produce high
           quality leads to your business? Have a 
           look at our digital strategies and marketing
            solutions.</p>
      </div>
    </div>
  </div>
  <!----Portfolio Links SECTION-->

  <div class="container">
    <div class="row">
      <div class="col col-lg-12 col-md-12 col-sm-12 col-12 links-Section">
        <div class="topnav">
          <a href="Url" class="">All</a>
          <a href="Url" class="">Pending</a>
          <a href="Url" class="">Rejected</a>
          <a href="Url" class="">Approved</a>
        </div>
        <!-- <ul>
          <li class="active">
            <a href="#">Home</a>
          </li>

          <li>
            <a href="#">About</a>
          </li>

          <li>
            <a href="#">Portfolio</a>
          </li>

          <li>
            <a href="#">Contact</a>
          </li>
        </ul>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbar2"
        >
          <span>
            <i class="fas fa-bars" style="color: #fff; font-size: 18px"></i>
          </span>
        </button> -->
      </div>
    </div>
  </div>

  <!----Portfolio Cards Section 1------>

  <div class="container">
    <div class="row">
      <div class="col col-lg-4 col-md-4 col-sm-6 col-12 card">
        <div class="card-items">
          <img src="/assets/Images/for-cards.jpg" alt="">
          
        </div>
        <div class="Card-Description">
          <p class="descp">Card is here</p>
          <p class="Main-txt">MAIN CARD TEXT</p>
          <a href="#" class="Show-Proj-Link">Show Project</a>
        </div>
      </div>
      <div class="col col-lg-4 col-md-4 col-sm-6 col-12 card">
        <div class="card-items">
          <img src="/assets/Images/for-cards2.jpg" alt="">
        </div>
        <div class="Card-Description">
          <p class="descp">Card is here</p>
          <p class="Main-txt">MAIN CARD TEXT</p>
          <a href="#" class="Show-Proj-Link">Show Project</a>
        </div>
      </div>
      <div class="col col-lg-4 col-md-4 col-sm-6 col-12 card">
        <div class="card-items">
          <img src="/assets/Images/for-cards3.jpg" alt="">
        </div>
        <div class="Card-Description">
          <p class="descp">Card is here</p>
          <p class="Main-txt">MAIN CARD TEXT</p>
          <a href="#" class="Show-Proj-Link">Show Project</a>
        </div>
      </div>
    </div>
  </div>

  <!----Portfolio Cards Section 2------>

  <div class="container">
    <div class="row">
      <div class="col col-lg-4 col-md-6 col-sm-6 col-12 card">
        <div class="card-items">
          <img src="/assets/Images/for-cards3.jpg" alt="">
        </div>
        <div class="Card-Description">
          <p class="descp">Card is here</p>
          <p class="Main-txt">MAIN CARD TEXT</p>
          <a href="#" class="Show-Proj-Link">Show Project</a>
        </div>
      </div>
      <div class="col col-lg-4 col-md-6 col-sm-6 col-12 card">
        <div class="card-items">
          <img src="/assets/Images/for-cards2.jpg" alt="">
        </div>
        <div class="Card-Description">
          <p class="descp">Card is here</p>
          <p class="Main-txt">MAIN CARD TEXT</p>
          <a href="#" class="Show-Proj-Link">Show Project</a>
        </div>
      </div>
      <div class="col col-lg-4 col-md-6 col-sm-6 col-12 card">
        <div class="card-items">
          <img src="/assets/Images/for-cards.jpg" alt="">
        </div>
        <div class="Card-Description">
          <p class="descp">Card is here</p>
          <p class="Main-txt">MAIN CARD TEXT</p>
          <a href="#" class="Show-Proj-Link">Show Project</a>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>