:host ::ng-deep .Navbar-Div {
  // height: 405px !important;
  // background-color: blue;
}
:host ::ng-deep .navbar-nav li a {
  width: 120px;
  color: black !important;
}
/*------------- Portfolio Section TEXT -------------------- */
.flex{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.flex2{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.flex3{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.container {
  margin-top: 4%;
}
.Potfolio-main-text {
  text-align: start;
  font-size: 82px;
  font-weight: 400;
  padding-left: 5%;
  font-family: Bebas Neue;
}

/*-----------Portfolio Links AREA---------*/


/*-----------Card SECTION ---------*/
.card {
  height: 600px;

  border: none;
  display: flex;

  border: none !important;
}
.card-items {
  margin: 15px;
  height: 490px;
  width: 320px;
  align-self: center;
  border-radius: 12px;
  box-shadow: 2px 2px 5px grey;
  cursor: pointer;
  transition: 0.3s;
  
}
.card-items img {
 
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 12px;
  background-position: center;
  background-size: cover;
  
}
.card-items:hover {
  box-shadow: none;
  transform: scale(0.93);
 
  
}
.card-items:hover > .descp {
  display: none;
}
.card-items:hover > .Show-Proj-Link {
  display: block;
}

.Card-Description {
  align-self: flex-start;
  padding-left: 20%;
}
.descp {
  font-size: small;
}
.Main-txt {
  font-size: x-large;
  font-weight: bold;
}
.Show-Proj-Link {
  display: none;
}

/*------tab links-----*/

.topnav {
  overflow: hidden;
  margin-left: 3rem;
}

.topnav-title {
  color: #0066a4;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  background-color: #b9b9b9;
  text-align: center;
  padding: 5px 16px 5px;
  margin-right: 3px;
  margin-top: 3px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  border-radius: 7px 7px 0 0;
}

.topnav a:hover {
  background-color: tomato;
  color: #f2f2f2;
}

.topnav a.active {
  background-color: #9c27b0;
  color: white;
}
