 <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">

            <button type="button" class="btn ">
                <i class="fas fa-search"></i>
            </button>
                <div class="form-outline">
                  <input id="search-focus" placeholder="Search for..." type="search" id="form1" class="form-control" />
                  
                </div>

                
              
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link " href="#"><button type="button" class="btn " id="ticketbtn">New Ticket <i class="fas fa-ticket-alt tick"></i></button></a>
                    </li>
                    <li class="nav-item subscribe">
                        <a class="nav-link" href="#"><i class="fas fa-bell fa-2x"></i></a>
                    </li>
                    
                        <div class="profile nav-item">
                        <img src="/assets/Images/Dashboard/sampleImageIcon.jpeg">
                        </div>
                        <div class="profileText nav-item"><label>Jhon Doe</label></div>
                        <div class="profileText nav-item"><i class="fas fa-chevron-circle-down"></i></div>
                    
                </ul>
            </div>
        </div>
    </nav>
