.Navbar-Div {
  height: auto;
}
.FlexNav {
  display: flex;
}

.Logo-Area {
  align-content: flex-start;
  align-items: flex-start;
  height: 70px;
  width: 250px;

  /* padding-top: 5px; */
}
.Logo-Area img {
  display: block;

  margin-right: auto;
  width: 200px;
  height: 200px;
  position: relative;
  bottom: 70px;

  overflow: hidden;

  background-size: cover;
  background-position: center;
}
.navitem1 {
  display: flex;
}
.navitem2 {
  align-content: flex-start;
}

ul li {
  padding: 5 px;

  font-weight: 500;
}
.navbar-nav li a {
  width: 120px;
  color: white;
}
.navbar-nav li a:hover {
  color: tomato;
  font-size: large;
}

@media screen and (max-width: 384px) {
  .Navbar-Div {
    height: 10%;
  }
  .FlexNav {
    display: flex;
  }
  .Logo-Area {
    align-content: flex-start;
    align-items: flex-start;
    height: 50px;
    width: 220px;

    /* padding-top: 5px; */
  }
  .Logo-Area img {
    display: block;

    margin-right: auto;
    width: 150px;
    height: 150px;
    position: relative;
    bottom: 50px;
    margin-left: 0;

    overflow: hidden;

    background-size: cover;
    background-position: center;
  }
  .navitem1 {
    display: flex;
  }
  .navitem2 {
    align-content: flex-start;
  }

  ul li {
    padding: 5px;
    font-weight: 500;
  }
  .nav-link:hover {
    background-color: tomato;
  }
}
@media screen and (max-width: 353px) {
  .Navbar-Div {
    height: 10%;
  }
  .FlexNav {
    display: flex;
  }
  .Logo-Area {
    align-content: flex-start;
    align-items: flex-start;
    height: 50px;
    width: 220px;

    /* padding-top: 5px; */
  }
  .Logo-Area img {
    display: block;

    margin-right: auto;
    width: 120px;
    height: 120px;
    position: relative;
    bottom: 50px;
    margin-left: 0;

    overflow: hidden;

    background-size: cover;
    background-position: center;
  }
  .navitem1 {
    display: flex;
  }
  .navitem2 {
    align-content: flex-start;
  }

  ul li {
    padding: 5px;
    font-weight: 500;
  }
  .nav-link:hover {
    background-color: tomato;
  }
}



/*-----Navbar text-------*/
.textflex{
  display: flex;
  justify-content: flex-end;
  padding-right: 150px;
  padding-top: 50px;
  
  flex-direction: row;

}
.big-text{
  // letter-spacing: 2 px;
  font-size: 80px;
  color: white;
  line-height: 1;
  font-family: Bebas Neue;
}
.small-text{
  color: white;
  font-weight: 600;
  font-size: x-large;

}
@font-face {
  font-family: 'BebasNeue';
  font-style: normal;
  font-weight: normal;
  src: local('BebasNeue'), url(/src/assets/font/BebasNeue-Regular.woff) format('woff');
  }