<div class="container-fluid Navbar-Div">
  <div class="row">
    <div class="col col-lg-12 col-md-12 col-sm-12 col-12">
      <nav class="navbar navbar-expand-md">
        <div class="container-fluid FlexNav">
          <div class="navitem1">
            <a class="navbar-brand">
              <div class="Logo-Area">
                <img src="/assets/Images/logo.png" class="img-fluid" />
              </div>
            </a>
          </div>

          <div class="navitem2">
            <div class="collapse navbar-collapse navbar-default" id="navbar1">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" [routerLink]="['/home']">Home</a>
                </li>
              </ul>
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/about-us']">About</a>
                </li>
              </ul>

              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/portfolio']"
                    >Portfolio</a
                  >
                </li>
              </ul>

              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/contact-us']">Contact</a>
                </li>
              </ul>
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/job-app']">Join Us</a>
                </li>
              </ul>
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/app-login']">Login</a>
                </li>
              </ul>
            </div>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbar1"
            >
              <span>
                <i class="fas fa-bars" style="color: #fff; font-size: 18px"></i>
              </span>
            </button>
          </div>
        </div>
      </nav>
      <div class="textflex" *ngIf="mode === 'about-us'">
        <div class="tfitem">
          <p class="small-text text-end">{{AboutUs}}</p>
          <h1 class="big-text">{{OurBuinessExperties}}</h1>
        </div>
      </div>
      <div class="textflex" *ngIf="mode === 'contact-us'">
        <div class="tfitem">
          <p class="small-text text-end">{{AboutUs}}</p>
          <h1 class="big-text">{{OurBuinessExperties}}</h1>
        </div>
      </div>
      <div class="textflex" *ngIf="mode === 'job-app'">
        <div class="tfitem">
          
          <h1 class="big-text">{{OurBuinessExperties}}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
