:root{
    --font:'Source Sans Pro', sans-serif;
  
  }
 


  .carousel-caption{
    position: absolute;
    top: 20%;
  }
  .carousel-caption{
    position: absolute;
    top: 20%;
  }
  
  .carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 55, 75, 0.5);
  }