<div class="page-banner home-banner mb-5">
    <div class="slider-wrapper">
        <div class="owl-carousel hero-carousel">
            <div class="hero-carousel-item">
                <img src="../assets/img/bg_image_1.jpg" alt="">

                <div class="img-caption">
                    <h1 class="mb-4">Redovisning</h1>
                    <div class="subhead">Helping you to register your company and its tax related issues </div>

                </div>
            </div>
            <div class="hero-carousel-item">
                <img src="../assets/img/bg_image_2.jpg" alt="">
                <div class="img-caption">
                    <h1 class="mb-4">Administration</h1>
                    <div class="subhead">Vi hjälper till med all typ av administration som kunder önskar få hjälp med,
                        samt olika typer av orderhantering</div>

                </div>
            </div>
            <div class="hero-carousel-item">
                <img src="../assets/img/bg_image_3.jpg" alt="">
                <div class="img-caption">
                    <h1 class="mb-4">Lön & HR</h1>
                    <div class="subhead">Get payroll administration of clients, such as time registration, employer tax
                        declaration etc.</div>

                </div>
            </div>
            <div class="hero-carousel-item">
                <img src="../assets/img/bg_image_1.jpg" alt="">
                <div class="img-caption">
                    <h1 class="mb-4">Umbrella Unemployment</h1>
                    <div class="subhead">employment Solutions offered to organizations and individuals</div>

                </div>
            </div>
        </div>
    </div> <!-- .slider-wrapper -->
</div> <!-- .page-banner -->


<main>
    <div class="page-section">
        <div class="container-fluid px-5">
            <div class="row align-items-center">
                <div class="col-lg-6 py-3">
                    <!-- <div class="subhead">About Us</div> -->
                    <h2 class="title-section">We are <span class="fg-primary">Professional Teams</span> to Growth your
                        Business
                    </h2>

                    <p>Finansify Sweden has been started in 2021 by Shaher Yar Ali who previously have worked with
                        accounting
                        and payroll industry with leading Swedish companies in Payroll and accounting. We have gathered
                        a
                        knowledge and competence to help</p>

                    <a href="about.html" class="btn btn-primary mt-4">Read More</a>
                </div>
                
                <div class="col-lg-6 py-3">
                    <div class="about1-img">
                        <img src="../assets/img/pro-team.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- .page-section -->

    <div class="page-section">
        <div class="container-fluid px-5 py-5 bg-light">
            <div class="text-center">
                <!-- <div class="subhead">Our Services</div> -->
                <h2 class="title-section">OUR BUSINESS EXPERTIES</h2>
            </div>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <p class=" text-center">Our job is to take care of your business’s economy and provide best possible financial solutions to small
                        medium business. Our goal is to help business with the financial consultancy that will worth more than a
                        money. We help customers in following service areas.</p>
                </div>
                <div class="col-3"></div>
            </div>
            
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4 col-xl-3 py-3 mb-3">
                    <div>
                        <div class="img-fluid mb-4">
                            <!-- <img src="../assets/img/icons/graphics_design.svg" alt=""> -->
                            <i class="fas fa-file-invoice fa-3x" style="color: #02519c;"></i>
                            <!-- <span class="fas fa-landmark fa-3x" style="color: #02519c;"></span> -->
                        </div>
                        <h4 style="font-weight:600;">Redovisning</h4>
                        <p>
                            Our philosophy is to make better and easy your life for entrepreneurs and self-employed
                            people. We can help
                        </p>
                        <div style="line-height: 0.5;">
                            <p>• Bookkeeping</p>
                            <p>• Invoicing </p>
                            <p>• Income declaration</p>
                            <p>• Financial statement</p>
                            <p>• Company Registration</p>
                        </div>
                        
                        <a [routerLink]="['./Redovisning']">Read More</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 py-3 mb-3">
                    <div>
                        <div class="img-fluid mb-4">
                            <!-- <img src="../assets/img/icons/graphics_design.svg" alt=""> -->
                            <i class="fas fa-user-shield fa-3x" style="color: #02519c;"></i>
                        </div>
                        <h4 style="font-weight:600;">Administration</h4>
                        <p>
                            Vi hjälper till med all typ av administration som kunder önskar få hjälp med, samt olika
                            typer av orderhantering
                        </p>
                        <a [routerLink]="['./administration']">Read More</a>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 col-xl-3 py-3 mb-3">
                    <div>
                        <div class="img-fluid mb-4">
                            <!-- <img src="../assets/img/icons/graphics_design.svg" alt=""> -->
                            <i class="fas fa-hand-holding-usd fa-3x" style="color: #02519c;"></i>
                        </div>
                        <h4 style="font-weight:600;">Lön & HR</h4 >
                        <p>
                            Vi har många års erfarenhet av lön och HR arbete. Löneadministration och eller rådgivning i
                            HR arbetet
                            Skatterådgivning och affärsrådgivning
                            Vi är även ett bollplank i skattefrågor och annan ekonomisk rådgivning som ni behöver hjälp
                            med.
                        </p>
                        <a [routerLink]="['./lon-hr']">Read More</a>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 col-xl-3 py-3 mb-3">
                    <div>
                        <div class="img-fluid mb-4">
                            <!-- <img src="../assets/img/icons/graphics_design.svg" alt=""> -->
                            <i class="fas fa-user-friends fa-3x" style="color: #02519c;"></i>
                        </div>
                        <h4 style="font-weight:600;">Umbrella Unemployment</h4>
                        <p>
                            The Umbrella employment Solutions offered to those organizations and individuals who don’t
                            want to establish itself in Sweden as an employer or neither wants to involve in the matter
                            to filling tax returns and maintaining books for the operations taking place in Sweden.
                        </p>
                        <a [routerLink]="['./Umbrella-Unemployment']">Read More</a>
                    </div>
                </div>

            </div>
        </div> <!-- .container -->
    </div> <!-- .page-section -->
    <!-- .page-section -->

    <div class="page-section">
        <div class="container-fluid px-5">
            <div class="row align-items-center">
                <div class="col-lg-6 py-3">
                    <!-- <div class="subhead">About Us</div> -->
                    <h2 class="title-section">Vår Vision</h2>

                    <p>Vår vision är att ge hållbar och innovative tjänster till svenska företag genom
                        kvalitetsredovisnings
                        tjänster samt digitalisering och atomisering av redovisnings processen. Våra sloganen är’’
                        Kvalitet ger
                        trygghet’’</p>
                </div>
                <div class="col-lg-6 py-3">
                    <div class="about-img">
                        <img src="../assets/img/vision.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <!-- .page-section -->


    <div class="page-section">
        <div class="container-fluid px-5">
            <h2 class="title-section">Vad Kunder säger om</h2>
            <div class="owl-carousel testimonial-carousel">
                <div class="card-testimonial d-flex justify-content-center align-items-center"
                    style="flex-direction: column;">
                    <div class="content">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>


                    </div>
                    <div>
                        <p class="text-center">
                            The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV
                            quiz graced by
                            fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph
                        </p>
                    </div>
                    <div class="author">
                        <div class="avatar">
                            <img src="../assets/img/person/avatar.png" alt="">
                        </div>
                        <div class="d-inline-block ml-2">
                            <div class="author-name">Sam Watson</div>
                            <div class="author-info">CEO - Mosh Elite Ltd.</div>
                        </div>
                    </div>
                </div>

                <div class="card-testimonial d-flex justify-content-center align-items-center"
                    style="flex-direction: column;">
                    <div class="content">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>


                    </div>
                    <div class="text-center">
                        <p>
                            The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV
                            quiz graced by
                            fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph
                        </p>

                    </div>
                    <div class="author">
                        <div class="avatar">
                            <img src="../assets/img/person/avatar.png" alt="">
                        </div>
                        <div class="d-inline-block ml-2">
                            <div class="author-name">Edinson Alfa</div>
                            <div class="author-info">CEO - Mosh Elite Ltd.</div>
                        </div>
                    </div>
                </div>

                <div class="card-testimonial d-flex justify-content-center align-items-center"
                    style="flex-direction: column;">
                    <div class="content">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>


                    </div>
                    <div class="text-center">
                        <p>
                            The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV
                            quiz graced by
                            fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph
                        </p>

                    </div>
                    <div class="author">
                        <div class="avatar">
                            <img src="../assets/img/person/avatar.png" alt="">
                        </div>
                        <div class="d-inline-block ml-2">
                            <div class="author-name">May Halloway</div>
                            <div class="author-info">CEO - Mosh Elite Ltd.</div>
                        </div>
                    </div>
                </div>
                <div class="card-testimonial d-flex justify-content-center align-items-center"
                    style="flex-direction: column;">
                    <div class="content">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>


                    </div>
                    <div class="text-center">
                        <p>
                            The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV
                            quiz graced by
                            fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph
                        </p>

                    </div>
                    <div class="author">
                        <div class="avatar">
                            <img src="../assets/img/person/avatar.png" alt="">
                        </div>
                        <div class="d-inline-block ml-2">
                            <div class="author-name">May Halloway</div>
                            <div class="author-info">CEO - Mosh Elite Ltd.</div>
                        </div>
                    </div>
                </div>

                <div class="card-testimonial d-flex justify-content-center align-items-center"
                    style="flex-direction: column;">
                    <div class="content">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>


                    </div>
                    <div class="text-center">
                        <p>
                            The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV
                            quiz graced by
                            fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph
                        </p>

                    </div>
                    <div class="author">
                        <div class="avatar">
                            <img src="../assets/img/person/avatar.png" alt="">
                        </div>
                        <div class="d-inline-block ml-2">
                            <div class="author-name">May Halloway</div>
                            <div class="author-info">CEO - Mosh Elite Ltd.</div>
                        </div>
                    </div>
                </div>


                <div class="card-testimonial d-flex justify-content-center align-items-center"
                    style="flex-direction: column;">
                    <div class="content">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>


                    </div>
                    <div class="text-center">
                        <p>
                            The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV
                            quiz graced by
                            fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph
                        </p>

                    </div>
                    <div class="author">
                        <div class="avatar">
                            <img src="../assets/img/person/avatar.png" alt="">
                        </div>
                        <div class="d-inline-block ml-2">
                            <div class="author-name">May Halloway</div>
                            <div class="author-info">CEO - Mosh Elite Ltd.</div>
                        </div>
                    </div>
                </div>


                <div class="card-testimonial d-flex justify-content-center align-items-center"
                    style="flex-direction: column;">
                    <div class="content">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>


                    </div>
                    <div class="text-center">
                        <p>
                            The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV
                            quiz graced by
                            fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph
                        </p>

                    </div>
                    <div class="author">
                        <div class="avatar">
                            <img src="../assets/img/person/avatar.png" alt="">
                        </div>
                        <div class="d-inline-block ml-2">
                            <div class="author-name">May Halloway</div>
                            <div class="author-info">CEO - Mosh Elite Ltd.</div>
                        </div>
                    </div>
                </div>



            </div> <!-- .row -->
        </div> <!-- .container -->
    </div> <!-- .page-section -->

    <div class="page-section">
        <div class="container-fluid px-5">
            <div class="text-center">
                <h2 class="title-section mb-3">Kontakta oss</h2>
                <p>Contact us and find more about what Finansify can offer you! <a
                        href="mailto:example@mail.com">example@mail.com</a></p>
            </div>
            <app-contact-form></app-contact-form>
        </div> <!-- .container -->
    </div> <!-- .page-section -->

    <div hidden class="page-section">
        <div class="container-fluid px-5">
            <div class="row row-cols-md-3 row-cols-lg-5 justify-content-center text-center">
                <div class="py-3 px-5">
                    <img src="../assets/img/clients/airbnb.png" alt="">
                </div>
                <div class="py-3 px-5">
                    <img src="../assets/img/clients/google.png" alt="">
                </div>
                <div class="py-3 px-5">
                    <img src="../assets/img/clients/mailchimp.png" alt="">
                </div>
                <div class="py-3 px-5">
                    <img src="../assets/img/clients/paypal.png" alt="">
                </div>
                <div class="py-3 px-5">
                    <img src="../assets/img/clients/stripe.png" alt="">
                </div>
            </div>
        </div> <!-- .container-fluid -->
    </div> <!-- .page-section -->
    

</main>