
  
     
<app-slider></app-slider>

        

<main>
    <div class="page-section">
        <div class="container-fluid px-5 mt-5">
            <div class="row align-items-center">
                <div class="col-lg-6 py-3">
                    <!-- <div class="subhead">About Us</div> -->
                    <h2 class="title-section">{{'HomePageFirstSectionHeadingPartOne'| translate}} <span class="fg-primary">{{'HomePageFirstSectionHeadingPartTwoBlue'| translate}}</span> 
                        {{'HomePageFirstSectionHeadingPartThree'| translate}}
                    </h2>

                    <p>{{'AboutParagraph1'| translate}}</p>

                    <a [routerLink]="['./about-us']" class="btn btn-clr mt-4">{{'HomePageFirstSectionButtonText'| translate}}</a>
                </div>

                <div class="col-lg-6 py-3">
                    <div class="about1-img">
                        <img src="../assets/img/pro-team.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- .page-section -->

    <div class="page-section">
        <div class="container-fluid px-5 py-5 bg-light">
            <div class="text-center">
                <!-- <div class="subhead">Our Services</div> -->
                <h2 class="title-section">{{'HomePageSecondSectionHeadingPartOne'| translate}}</h2>
            </div>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <p class=" text-center">{{'HomePageSecondSectionPara'| translate}}</p>
                </div>
                <div class="col-3"></div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4 col-xl-3 py-3 mb-3">
                    <div>
                        <div class="img-fluid mb-4">
                            <!-- <img src="../assets/img/icons/graphics_design.svg" alt=""> -->
                            <i class="fas fa-file-invoice fa-3x" style="color:#02519c" ></i>
                            <!-- <span class="fas fa-landmark fa-3x" style="color: #02519c;"></span> -->
                        </div>
                        <h4 style="font-weight:600;">{{'homeAccountServiceHeadingOnSectionTwo'| translate}}</h4>
                        <p>
                            {{'homeAccountServiceParaOnSectionTwo'| translate}}
                        </p>
                        <div style="line-height: 1.5;">
                            <p>• {{'AccountingFirstSubHeading'| translate}}</p>
                            <p>• {{'AccountingSecondSubHeading'| translate}} </p>
                            <p>• {{'AccountingThirdSubHeading'| translate}}</p>
                            <p>• {{'AccountingFourthSubHeading'| translate}}</p>
                            <p>• {{'AccountingFifthSubHeading'| translate}}</p>
                        </div>

                        <a [routerLink]="['./Redovisning']" style="color:#02519c">{{'HomePageFirstSectionButtonText'| translate}}</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 py-3 mb-3">
                    <div>
                        <div class="img-fluid mb-4">
                            <!-- <img src="../assets/img/icons/graphics_design.svg" alt=""> -->
                            <i class="fas fa-user-shield fa-3x" style="color:#02519c" ></i>
                        </div>
                        <h4 style="font-weight:600;">{{'homeAdministrationServiceHeadingOnSectionTwo'| translate}}</h4>
                        <p>
                            {{'homeAdministrationServiceParaOnSectionTwo'| translate}}
                        </p>
                        <div style="line-height:1.5;">
                            <p>• {{'AdministrationFirstSubHeading'| translate}}</p>
                            <p>• {{'AdministrationSecondSubHeading'| translate}}</p>
                            <p>• {{'AdministrationThirdSubHeading'| translate}} </p>
                            <p>• {{'AdministrationFourthSubHeading'| translate}}</p>
                            <p>• {{'AdministrationFifthSubHeading'| translate}}</p>
                            
                        </div>
                        <a [routerLink]="['./administration']" style="color:#02519c">{{'HomePageFirstSectionButtonText'| translate}}</a>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 col-xl-3 py-3 mb-3">
                    <div>
                        <div class="img-fluid mb-4">
                            <!-- <img src="../assets/img/icons/graphics_design.svg" alt=""> -->
                            <i class="fas fa-hand-holding-usd fa-3x" style="color:#02519c"></i>
                        </div>
                        <h4 style="font-weight:600;">{{'homeSalary&HRServiceHeadingOnSectionTwo'| translate}}</h4>
                        <p>
                            {{'homeSalary&HRServiceParaOnSectionTwo'| translate}}
                        </p>
                        <a [routerLink]="['./lon-hr']" style="color:#02519c">{{'HomePageFirstSectionButtonText'| translate}}</a>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 col-xl-3 py-3 mb-3">
                    <div>
                        <div class="img-fluid mb-4">
                            <!-- <img src="../assets/img/icons/graphics_design.svg" alt=""> -->
                            <i class="fas fa-user-friends fa-3x" style="color:#02519c"></i>
                        </div>
                        <h4 style="font-weight:600;">{{'homeUmbrellaUnemploymentServiceHeadingOnSectionTwo'| translate}}</h4>
                        <p>
                            {{'UmbrellaUnemployementFirstSubHeadingPara'| translate}}
                        </p>
                        <div style="line-height: 0.5;">
                            <p>• {{'UmbrellaUnemployementSecondSubHeading'| translate}}</p>
                            
                            
                        </div>
                        <a [routerLink]="['./Umbrella-Unemployment']" style="color:#02519c">{{'HomePageFirstSectionButtonText'| translate}}</a>
                    </div>
                </div>

            </div>
        </div> <!-- .container -->
    </div> <!-- .page-section -->
    <!-- .page-section -->

    <div class="page-section">
        <div class="container-fluid px-5">
            <div class="row align-items-center">
                <div class="col-lg-6 py-3">
                    <!-- <div class="subhead">About Us</div> -->
                    <h2 class="title-section">{{'HomePageSectionThreeHeading'| translate}}</h2>

                    <p>{{'HomePageSectionThreePara'| translate}}</p>
                </div>
                <div class="col-lg-6 py-3">
                    <div class="about-img">
                        <img src="../assets/img/vision.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .page-section -->

    <!----------------------------------------------------------------------------------->
    <!-- <div class="page-section">
        <div class="container-fluid px-5">
            <h2 class="title-section ">Vad Kunder säger om</h2>

            <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators" style="position: absolute; top: 18rem;">
                    <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active" style="background-color: #e66124;"></li>
                    <li data-target="#carouselExampleIndicators2" data-slide-to="1" style="background-color: #e66124;"></li>
                    <li data-target="#carouselExampleIndicators2" data-slide-to="2" style="background-color: #e66124;"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <a>
                                    <div class="card-testimonial d-flex justify-content-center align-items-center"
                                        style="flex-direction: column;">
                                        <div class="content">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>


                                        </div>
                                        <div>
                                            <p class="text-center">
                                                The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax
                                                quiz prog. Junk MTV
                                                quiz graced by
                                                fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph
                                            </p>
                                        </div>
                                        <div class="author">
                                            <div class="avatar">
                                                <img src="../assets/img/person/avatar.png" alt="">
                                            </div>
                                            <div class="d-inline-block ml-2">
                                                <div class="author-name">Sam Watson</div>
                                                <div class="author-info">CEO - Mosh Elite Ltd.</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <a>
                                    <div class="card-testimonial d-flex justify-content-center align-items-center"
                                        style="flex-direction: column;">
                                        <div class="content">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>


                                        </div>
                                        <div>
                                            <p class="text-center">
                                                The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax
                                                quiz prog. Junk MTV
                                                quiz graced by
                                                fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph
                                            </p>
                                        </div>
                                        <div class="author">
                                            <div class="avatar">
                                                <img src="../assets/img/person/avatar.png" alt="">
                                            </div>
                                            <div class="d-inline-block ml-2">
                                                <div class="author-name">Sam Watson</div>
                                                <div class="author-info">CEO - Mosh Elite Ltd.</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <a>
                                    <div class="card-testimonial d-flex justify-content-center align-items-center"
                                        style="flex-direction: column;">
                                        <div class="content">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>


                                        </div>
                                        <div>
                                            <p class="text-center">
                                                The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax
                                                quiz prog. Junk MTV
                                                quiz graced by
                                                fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph
                                            </p>
                                        </div>
                                        <div class="author">
                                            <div class="avatar">
                                                <img src="../assets/img/person/avatar.png" alt="">
                                            </div>
                                            <div class="d-inline-block ml-2">
                                                <div class="author-name">Sam Watson</div>
                                                <div class="author-info">CEO - Mosh Elite Ltd.</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row bg-light">
                            <div class="col-md-4 col-sm-12">
                                <a>
                                    <div class="card-testimonial d-flex justify-content-center align-items-center"
                                        style="flex-direction: column;">
                                        <div class="content">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>


                                        </div>
                                        <div>
                                            <p class="text-center">
                                                The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax
                                                quiz prog. Junk MTV
                                                quiz graced by
                                                fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph
                                            </p>
                                        </div>
                                        <div class="author">
                                            <div class="avatar">
                                                <img src="../assets/img/person/avatar.png" alt="">
                                            </div>
                                            <div class="d-inline-block ml-2">
                                                <div class="author-name">Sam Watson</div>
                                                <div class="author-info">CEO - Mosh Elite Ltd.</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <a>
                                    <div class="card-testimonial d-flex justify-content-center align-items-center"
                                        style="flex-direction: column;">
                                        <div class="content">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>


                                        </div>
                                        <div>
                                            <p class="text-center">
                                                The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax
                                                quiz prog. Junk MTV
                                                quiz graced by
                                                fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph
                                            </p>
                                        </div>
                                        <div class="author">
                                            <div class="avatar">
                                                <img src="../assets/img/person/avatar.png" alt="">
                                            </div>
                                            <div class="d-inline-block ml-2">
                                                <div class="author-name">Sam Watson</div>
                                                <div class="author-info">CEO - Mosh Elite Ltd.</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <a>
                                    <div class="card-testimonial d-flex justify-content-center align-items-center"
                                        style="flex-direction: column;">
                                        <div class="content">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>


                                        </div>
                                        <div>
                                            <p class="text-center">
                                                The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax
                                                quiz prog. Junk MTV
                                                quiz graced by
                                                fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph
                                            </p>
                                        </div>
                                        <div class="author">
                                            <div class="avatar">
                                                <img src="../assets/img/person/avatar.png" alt="">
                                            </div>
                                            <div class="d-inline-block ml-2">
                                                <div class="author-name">Sam Watson</div>
                                                <div class="author-info">CEO - Mosh Elite Ltd.</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <a>
                                    <div class="card-testimonial d-flex justify-content-center align-items-center"
                                        style="flex-direction: column;">
                                        <div class="content">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>


                                        </div>
                                        <div>
                                            <p class="text-center">
                                                The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax
                                                quiz prog. Junk MTV
                                                quiz graced by
                                                fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph
                                            </p>
                                        </div>
                                        <div class="author">
                                            <div class="avatar">
                                                <img src="../assets/img/person/avatar.png" alt="">
                                            </div>
                                            <div class="d-inline-block ml-2">
                                                <div class="author-name">Sam Watson</div>
                                                <div class="author-info">CEO - Mosh Elite Ltd.</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <a>
                                    <div class="card-testimonial d-flex justify-content-center align-items-center"
                                        style="flex-direction: column;">
                                        <div class="content">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>


                                        </div>
                                        <div>
                                            <p class="text-center">
                                                The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax
                                                quiz prog. Junk MTV
                                                quiz graced by
                                                fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph
                                            </p>
                                        </div>
                                        <div class="author">
                                            <div class="avatar">
                                                <img src="../assets/img/person/avatar.png" alt="">
                                            </div>
                                            <div class="d-inline-block ml-2">
                                                <div class="author-name">Sam Watson</div>
                                                <div class="author-info">CEO - Mosh Elite Ltd.</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <a>
                                    <div class="card-testimonial d-flex justify-content-center align-items-center"
                                        style="flex-direction: column;">
                                        <div class="content">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>


                                        </div>
                                        <div>
                                            <p class="text-center">
                                                The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax
                                                quiz prog. Junk MTV
                                                quiz graced by
                                                fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph
                                            </p>
                                        </div>
                                        <div class="author">
                                            <div class="avatar">
                                                <img src="../assets/img/person/avatar.png" alt="">
                                            </div>
                                            <div class="d-inline-block ml-2">
                                                <div class="author-name">Sam Watson</div>
                                                <div class="author-info">CEO - Mosh Elite Ltd.</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">                  
                    <i class="fas fa-angle-left fa-2x" style="color: black;"  aria-hidden="true"></i>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <i class="fas fa-angle-right fa-2x" style="color: black;"  aria-hidden="true"></i>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <!------------------------------------------------------------------>

            <!----------------------------------------------------------------------------------------------------------->

            <!-- <div class="owl-carousel hero-slide testimonial-carousel">
                <div class="card-testimonial d-flex justify-content-center align-items-center"
                    style="flex-direction: column;">
                    <div class="content">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>


                    </div>
                    <div>
                        <p class="text-center">
                            The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV
                            quiz graced by
                            fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph
                        </p>
                    </div>
                    <div class="author">
                        <div class="avatar">
                            <img src="../assets/img/person/avatar.png" alt="">
                        </div>
                        <div class="d-inline-block ml-2">
                            <div class="author-name">Sam Watson</div>
                            <div class="author-info">CEO - Mosh Elite Ltd.</div>
                        </div>
                    </div>
                </div>

                <div class="card-testimonial d-flex justify-content-center align-items-center"
                    style="flex-direction: column;">
                    <div class="content">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>


                    </div>
                    <div class="text-center">
                        <p>
                            The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV
                            quiz graced by
                            fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph
                        </p>

                    </div>
                    <div class="author">
                        <div class="avatar">
                            <img src="../assets/img/person/avatar.png" alt="">
                        </div>
                        <div class="d-inline-block ml-2">
                            <div class="author-name">Edinson Alfa</div>
                            <div class="author-info">CEO - Mosh Elite Ltd.</div>
                        </div>
                    </div>
                </div>

                <div class="card-testimonial d-flex justify-content-center align-items-center"
                    style="flex-direction: column;">
                    <div class="content">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>


                    </div>
                    <div class="text-center">
                        <p>
                            The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV
                            quiz graced by
                            fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph
                        </p>

                    </div>
                    <div class="author">
                        <div class="avatar">
                            <img src="../assets/img/person/avatar.png" alt="">
                        </div>
                        <div class="d-inline-block ml-2">
                            <div class="author-name">May Halloway</div>
                            <div class="author-info">CEO - Mosh Elite Ltd.</div>
                        </div>
                    </div>
                </div>
                <div class="card-testimonial d-flex justify-content-center align-items-center"
                    style="flex-direction: column;">
                    <div class="content">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>


                    </div>
                    <div class="text-center">
                        <p>
                            The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV
                            quiz graced by
                            fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph
                        </p>

                    </div>
                    <div class="author">
                        <div class="avatar">
                            <img src="../assets/img/person/avatar.png" alt="">
                        </div>
                        <div class="d-inline-block ml-2">
                            <div class="author-name">May Halloway</div>
                            <div class="author-info">CEO - Mosh Elite Ltd.</div>
                        </div>
                    </div>
                </div>

                <div class="card-testimonial d-flex justify-content-center align-items-center"
                    style="flex-direction: column;">
                    <div class="content">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>


                    </div>
                    <div class="text-center">
                        <p>
                            The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV
                            quiz graced by
                            fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph
                        </p>

                    </div>
                    <div class="author">
                        <div class="avatar">
                            <img src="../assets/img/person/avatar.png" alt="">
                        </div>
                        <div class="d-inline-block ml-2">
                            <div class="author-name">May Halloway</div>
                            <div class="author-info">CEO - Mosh Elite Ltd.</div>
                        </div>
                    </div>
                </div>


                <div class="card-testimonial d-flex justify-content-center align-items-center"
                    style="flex-direction: column;">
                    <div class="content">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>


                    </div>
                    <div class="text-center">
                        <p>
                            The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV
                            quiz graced by
                            fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph
                        </p>

                    </div>
                    <div class="author">
                        <div class="avatar">
                            <img src="../assets/img/person/avatar.png" alt="">
                        </div>
                        <div class="d-inline-block ml-2">
                            <div class="author-name">May Halloway</div>
                            <div class="author-info">CEO - Mosh Elite Ltd.</div>
                        </div>
                    </div>
                </div>


                <div class="card-testimonial d-flex justify-content-center align-items-center"
                    style="flex-direction: column;">
                    <div class="content">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>


                    </div>
                    <div class="text-center">
                        <p>
                            The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV
                            quiz graced by
                            fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph
                        </p>

                    </div>
                    <div class="author">
                        <div class="avatar">
                            <img src="../assets/img/person/avatar.png" alt="">
                        </div>
                        <div class="d-inline-block ml-2">
                            <div class="author-name">May Halloway</div>
                            <div class="author-info">CEO - Mosh Elite Ltd.</div>
                        </div>
                    </div>
                </div>



            </div> 
           
        </div> 
    </div> -->
     <!-- .page-section -->
    <div class="text-center bg-light py-5">
        <app-pricing-table></app-pricing-table>
        <a routerLink="/pricing" class="btn btn-clr mt-4 ">{{'HomePageFirstSectionButtonText'| translate}}</a>
    </div>

    <div class="page-section">
        <div class="container-fluid px-5">
           
            <!-- <div class="row justify-content-center mt-5">
                <div class="col-lg-8">
                    <form action="#" class="form-contact">
                        <div class="row">
                            <div class="col-sm-6 py-2">
                                <label for="name" class="fg-grey">Name</label>
                                <input type="text" class="form-control" id="name" placeholder="Enter name..">
                            </div>
                            <div class="col-sm-6 py-2">
                                <label for="email" class="fg-grey">Email</label>
                                <input type="text" class="form-control" id="email" placeholder="Email address..">
                            </div>
                            <div class="col-12 py-2">
                                <label for="subject" class="fg-grey">Subject</label>
                                <input type="text" class="form-control" id="subject" placeholder="Subject..">
                            </div>
                            <div class="col-12 py-2">
                                <label for="message" class="fg-grey">Message</label>
                                <textarea id="message" rows="8" class="form-control"
                                    placeholder="Enter message.."></textarea>
                            </div>
                            <div class="col-12 mt-3">
                                <button type="submit" class="btn btn-clr px-5">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div> -->
       <app-contact-form></app-contact-form>
        </div> <!-- .container -->
    </div> <!-- .page-section -->

 

    <div hidden class="page-section">
        <div class="container-fluid px-5">
            <div class="row row-cols-md-3 row-cols-lg-5 justify-content-center text-center">
                <div class="py-3 px-5">
                    <img src="../assets/img/clients/airbnb.png" alt="">
                </div>
                <div class="py-3 px-5">
                    <img src="../assets/img/clients/google.png" alt="">
                </div>
                <div class="py-3 px-5">
                    <img src="../assets/img/clients/mailchimp.png" alt="">
                </div>
                <div class="py-3 px-5">
                    <img src="../assets/img/clients/paypal.png" alt="">
                </div>
                <div class="py-3 px-5">
                    <img src="../assets/img/clients/stripe.png" alt="">
                </div>
            </div>
        </div> <!-- .container-fluid -->
    </div> <!-- .page-section -->


</main>