<!-- <div class="page-banner bg-img bg-img-parallax overlay-dark" style="background-image: url(../assets/img/bg_image_3.jpg);">
    <div class="container h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-lg-8">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item"><a href="">Tjänster</a></li>
              <li class="breadcrumb-item active" aria-current="page">Lön & HR</li>
            </ol>
          </nav>
          <h1 class="fg-white text-center">Lön & HR</h1>
        </div>
      </div>
    </div>
  </div> -->
   <!-- .page-banner -->

   <app-main-image [HomeName]="'breadcrumbContactUsPage1'|translate" [pageName]="'breadcrumbServicesPage1'|translate" [pageName2]="'breadcrumbServicesSalary&HRPage2'|translate" ></app-main-image>

   
  <main>
     
<!-- <div class="page-section">
<div class="container-fluid px-5">
  <div class="row align-items-center">
    <div class="col-lg-6 py-3">
      <div class="d-flex justify-content-start align-items-center" style="flex-direction: row; gap: 1rem;">
        <i class="fas fa-hand-holding-usd fa-3x" style="color: #02519c;"></i>
        <h1 class="mt-2" style="font-weight:600;">Lön & HR</h1>
      </div>
      <div class="mt-3">
        <p>
          Vi har många års erfarenhet av lön och HR arbete. Löneadministration och eller rådgivning i HR arbetet.
        </p>
        <p>
          Skatterådgivning och affärsrådgivning.
        </p>
        <p>
          Vi är även ett bollplank i skattefrågor och annan ekonomisk rådgivning som ni behöver hjälp med.
        </p>
      </div>
     
    
      
    </div>
    <div class="col-lg-6 py-3">
      <div class="about-img">
        <img src="../assets/img/bg_image_3.jpg" alt="">
      </div>
    </div>
  </div>
</div>
</div> -->
 <!-- .page-section -->
 <!-- <app-services-text-area  [heading]="'homeSalary&HRServiceHeadingOnSectionTwo'| translate" [para]="
 'homeSalary&HRServiceParaOnSectionTwo'| translate
" [imgSrc]='"../assets/img/bg_image_3.jpg"'
[bool]="false" [icon]='"fas fa-hand-holding-usd fa-3x"'></app-services-text-area> -->

<div class="page-section">
  <div class="container-fluid px-5">
    <div class="d-flex justify-content-start align-items-start" style="flex-direction: row; gap: 1rem;">
      <i class="fas fa-hand-holding-usd fa-3x" style="color: #02519c;"></i>
      <h1 class="mt-2" style="font-weight:600;">{{'homeSalary&HRServiceHeadingOnSectionTwo'| translate}}</h1>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6 py-3 d-flex justify-content-start align-items-start"
        style="flex-direction: column; align-self: flex-start;">
        <!-- <div class="subhead">About Us</div> -->
       
        <div class="mt-3">
          <div class="subhead1">
           
            <p class="text-justify">
              {{'homeSalary&HRServiceParaOnSectionTwo'| translate}}
            </p>
          </div>

        

        

        </div>



      </div>
      <div class="col-lg-6 py-3">
        <div class="about-img">
          <img src="../assets/img/Payroll.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div> <!-- .page-section -->


 </main>