
    <div class="page-banner bg-img bg-img-parallax overlay-dark" style="background-image: url(../assets/img/bg_image_3.jpg);">
        <div class="container h-100">
          <div class="row justify-content-center align-items-center h-100">
            <div class="col-lg-8">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0">
                  <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">About</li>
                </ol>
              </nav>
              <h1 class="fg-white text-center">About</h1>
            </div>
          </div>
        </div>
      </div> <!-- .page-banner -->
   
  
    <main>
  <!---------Our History---------->
      <div class="page-section">
        <div class="container-fluid px-5">
          <div class="row align-items-center">
            <div class="col-lg-6 py-3">
              <!-- <div class="subhead">About Us</div> -->
              <h2 class="title-section">Our history</h2>
  
              <p>Finansify Sweden has been started in 2021 by Shaher Yar Ali who previously have worked with accounting and payroll industry with leading Swedish companies in Payroll and accounting.
                We have gathered a knowledge and competence to help the customer with better way, we are small accounting firm but having higher ambitions to grow in this field. Our customer is both from different branches and having small medium industry to work with. We have a expert to deal with financial matter of your company. If it is sound interesting, then you are welcome to contact us för declaration and bookkeeping.
                </p>
            </div>
            <div class="col-lg-6 py-3">
              <div class="about-img">
                <img src="../assets/img/vision.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div> <!-- .page-section -->
  <!----------Our Vision------------->
  
  <div class="page-section bg-light">
    <div class="container-fluid px-5 ">
      <div class="row align-items-center">
        <div class="col-lg-6 py-3">
          <div class="about-img">
            <img src="../assets/img/vision.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 py-3">
          <!-- <div class="subhead">About Us</div> -->
          <h2 class="title-section">Vår Vision</h2>
  
          <p>Vår vision är att ge hållbar och innovative tjänster till svenska företag genom kvalitetsredovisnings
            tjänster samt digitalisering och atomisering av redovisnings processen. Våra sloganen är’’ Kvalitet ger
            trygghet’’</p>
        </div>
      </div>
    </div>
  </div> <!-- .page-section -->
  
  
  
    </main>
