
    <!-- <div class="page-banner bg-img bg-img-parallax overlay-dark" style="background-image: url(../assets/img/bg_image_3.jpg);">
        <div class="container h-100">
          <div class="row justify-content-center align-items-center h-100">
            <div class="col-lg-8">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0">
                  <li class="breadcrumb-item"><a href="index.html">{{'breadcrumbAboutusPage1'|translate}}</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{'breadcrumbAboutusPage2'|translate}}</li>
                </ol>
              </nav>
              <h1 class="fg-white text-center">{{'MainHeadingAboutUs'|translate}}</h1>
            </div>
          </div>
        </div>
      </div>  -->
      <!-- .page-banner -->

      
      <app-main-image [HomeName]="'breadcrumbAboutusPage1'|translate" [pageName]="'breadcrumbAboutusPage2'|translate" [pageNameHeading]="'breadcrumbAboutusPage2'|translate"></app-main-image>
   
  
    <main>
  <!---------Our History---------->
  
      <div class="page-section">
        <div class="container-fluid px-5">
          <div class="row align-items-center">
            <div class="col-lg-6 py-3">
              <!-- <div class="subhead">About Us</div> -->
              <h2 class="title-section">{{'Aboutheading1'|translate}}</h2>
  
              <p>
                {{'AboutParagraph1'| translate}}
                </p>

                <div class="mt-3">
                  <h2 class="title-section">{{'Aboutheading3'|translate}}</h2>
  
              <p>
                {{'AboutParagraph3'| translate}}
                </p>
                </div>
            </div>
            <div class="col-lg-6 py-3">
              <div class="about-img">
                <img src="../assets/img/vision.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div> <!-- .page-section -->
  <!----------Our Vision------------->
  
  <div class="page-section bg-light">
    <div class="container-fluid px-5 ">
      <div class="row align-items-center">
        <div class="col-lg-6 py-3">
          <div class="about-img">
            <img src="../assets/img/vision.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 py-3">
          <!-- <div class="subhead">About Us</div> -->
          <h2 class="title-section">{{'Aboutheading2'|translate}}</h2>
  
          <p> {{'AboutParagraph2'| translate}}</p>
        </div>
      </div>
    </div>
  </div> <!-- .page-section -->
  
  <!---------------------->

  <div class="page-section">
    <div class="container-fluid px-5">
      <div class="row align-items-center">
        <div class="col-lg-6 py-3">
          <!-- <div class="subhead">About Us</div> -->
          <h2 class="title-section">{{'AboutHeading4'| translate}}</h2>

          <p>
            {{'AboutParagraph4.1'| translate}}
            </p>

            <p>
              {{'AboutParagraph4.2'| translate}}
              </p>


            
        </div>
        <div class="col-lg-6 py-3">
          <div class="about-img">
            <img src="../assets/img/vision.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  
    </main>
