<nav id="sidebar">
    <div class="sidebar-header">
        <img src="/assets/Images/Dashboard/Logo.png">
        
    </div>

    <ul class="list-unstyled components">
        <li >
            <a [routerLink]="['/main-dashboard']" class="active" data-toggle="collapse" aria-expanded="false">
                <i><img src="/assets/Images/Dashboard/dashboard.png "></i>
            </a>
            <a [routerLink]="['/ticket']">
                <i><img src="/assets/Images/Dashboard/ticket.png"></i>
            
            </a>
            <a [routerLink]="['/contacts']" data-toggle="collapse" aria-expanded="false">
                <i><img src="/assets/Images/Dashboard/contacts.png "></i>
                
            </a>
            
            <a [routerLink]="['/reports']">
                <i><img src="/assets/Images/Dashboard/Reports.png"></i>
                
            </a>
        </li>
        </ul>
       
</nav>