<!-- <div class="sidebar" style="overflow-x: hidden;">
  <div class="logo text-center mb-4">
    <a href="#" (click)="logout()"><img src="assets/Images/Logo/logo.png" /></a>
  </div>
  <nav class="mainNav">
    <ul>
      <li *ngFor="let item of menuData" [ngClass]="currentNav === item.menuName ? 'active' : ''">
        <a *ngIf="item.subMenus?.length == 0 && item.menuPermissions[3]?.isAllow " [routerLink]=item.menuUrl (click)="currentNav =item.menuName">
          <fa-icon [icon]="faTachometerAlt"></fa-icon>
          <span>{{item.menuName}}</span>
        </a>
         <a *ngIf="item.subMenus?.length > 0" (click)="navmenuclick(item.menuId)" class="has-arrow"
          [attr.aria-expanded]="true ? menus[item.menuid]:true">
        
          <i class="fa fa-user-plus m-r-5" aria-hidden="true"></i>
          <span class="hide-menu">{{item.menuName}}</span> <i class="fas fa-chevron-down float-right" style="padding-top: 5px;" ></i>
        </a>
        <ul *ngIf=menus[item.menuId]>
          <li *ngFor="let sitem of item.subMenus">
            <a class="child-menu" *ngIf="item.subMenus?.length > 0 && sitem.menuPermissions[3]?.isAllow && (!adminLogin || sitem.menuName!='Timesheet')" [routerLink]=sitem.menuUrl >
              <fa-icon [icon]="faCog"></fa-icon>
              <span style="font-size: medium;">{{sitem.menuName}}</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>

    -->

    <div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a [routerLink]="['./main']" class="active"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
						<li><a [routerLink]="['./error']"  class=""><i class="lnr lnr-users"></i> <span>Users</span></a></li>
						</ul>
				</nav>
			</div>
		</div>