<div class="container">
    <div class="dashboardText ">
        <p class="DashMainText">Dashboard</p>
        <p class="DashSecondText">The Updates about the Support Tickets</p>
    </div>
 </div>

 <!-- Dashboard Blocks-->
 <div class="fcontainer1">
     <div class="flexitem1">
        <div class="text-center" style="margin-top: 25px; padding-bottom: 15px; color: #00BAF3;"><i class="fas fa-ticket-alt ticket" ></i></div>
        <div class="text-center"><p style="line-height: 0; font-weight: normal; color: black;" >2150</p></div>
        <div class="text-center"><p style="line-height: 0; font-size: x-small;">Total Tickets</p></div>
     </div>
     <div class="flexitem2">
        <div class="text-center" style="margin-top: 25px; padding-bottom: 15px; color: #51ca4b;"><i class="fas fa-ticket-alt ticket" ></i></div>
        <div class="text-center"><p style="line-height: 0; font-weight: normal; color: black;" >242</p></div>
        <div class="text-center"><p style="line-height: 0; font-size: x-small;">New Tickets</p></div>
     </div>
     <div class="flexitem3">
        <div class="text-center" style="margin-top: 25px; padding-bottom: 15px; color: #f54d47;"><i class="fas fa-ticket-alt ticket" ></i></div>
        <div class="text-center"><p style="line-height: 0; font-weight: normal; color: black;" >102</p></div>
        <div class="text-center"><p style="line-height: 0; font-size: x-small;">Closed Tickets</p></div>
     </div>
     <div class="flexitem4">
        <img src="/assets/Images/Dashboard/This Year Graph.png">
     </div>
     <div class="flexitem5">
        <div class="text-center" style="margin-top: 5px; padding-bottom: 15px; color: #f54d47;"><i class="fas fa-arrow-down"></i></div>
        <div class="text-center"><p style="line-height: 0;font-weight: 600; padding-bottom: 5px; font-size: small; color: #f54d47;">22.8%</p></div>                 
        <div class="text-center"><p style="line-height: 0; font-weight: normal; color: black; font-size: small;" >60.32%</p></div>
        <div class="text-center"><p style="line-height: 0; font-size: x-small;">Bounce Rate</p></div>
     </div>
 </div>
 
<!---GRAPH CHART-->
<div class="fcontainer2">
<div class="flex2item">
<img src="/assets/Images/Dashboard/Estimate Solved Tickets graph.png" >
</div>
</div>



<!--ALL supported tickets-->

<div class="fcontainer3">
<div class="flex3item">
<p class="DashMainText">All Support Tickets</p>
<p class="DashSecondText" >List of tickets opened by Customers</p>
</div>
<div class="flex3item-2">
<p id="sortText">Sort by</p>
</div>
<div class="flex3item-3">
    <div class="input-group-append text-center" id="Btn">
      <button class="btn  dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Date Created</button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>
  
</div>
</div>

<div class="fcontainer4">
<div class="flex4item">
<p class="DashSecondText" style="color: black; font-weight: 500;">Latest Tickets (showing 01 to 06 from 50)</p>
</div>
</div>




<!--data table-->

<div class="fcontainer5">
<div class="flex5item">
<table id="example" class="tbMain " style="width:100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Requester Name</th>
            <th>Subjects</th>
            <th>Status</th>
            <th>Priority</th>
            <th>Assignee</th>
            <th>Date Created</th>
        </tr>
    </thead>
    <tbody  >
        <tr class="tb">
            <td>#1122</td>
            <td >
                <div class="profilePic">
                <img src="/assets/Images/Dashboard/sampleImageIcon.jpeg">
            </div>
            &nbsp <label id="DP">Ann Grey &nbsp<i class="fas fa-envelope" style="color: grey; "></i></label></td>
            <td >Android App Crashes
                <br>
               <label style="font-size: x-small; font-weight: 500; letter-spacing: -0.5px; color: #999; font-weight: 500;">First Response due in 12 hours</label> &nbsp
               <label style="font-size: x-small; background-color: rgb(235, 235, 235); padding: 1%; padding-left: 2%; padding-right: 2%; border-radius: 3px;">Billing</label>
               <label style="font-size: x-small; background-color: rgb(235, 235, 235); padding: 1%; padding-left: 2%; padding-right: 2%; border-radius: 3px;">Card Issue</label>
            </td>
            <td style="color: rgb(49, 196, 49); font-weight: 600; ">Open</td>
            <td><button class="btn " style="background-color: rgb(49, 196, 49); height: 30px; width: 50px;color: white; padding: 2%;font-weight: 500; ">Low</button></td>
            <td>Jack White</td>
            <td>20 Oct 2021</td>
        </tr>
        </tbody>
                            
        
        </table>

        <table id="example" class="tbMain " style="width:100%">
            <thead id="Thead">
                <tr>
                    <th>ID</th>
                    <th>Requester Name</th>
                    <th>Subjects</th>
                    <th>Status</th>
                    <th>Priority</th>
                    <th>Assignee</th>
                    <th>Date Created</th>
                </tr>
            </thead>
            <tbody  >
                <tr class="tb">
                    <td>#1122</td>
                    <td ><div class="profilePic">
                        <img src="/assets/Images/Dashboard/sampleImageIcon.jpeg">
                    </div>&nbsp <label id="DP">Ann Grey &nbsp<i class="fas fa-envelope" style="color: grey; "></i></label></td>
                    <td >Android App Crashes
                        <br>
                       <label style="font-size: x-small; font-weight: 500; letter-spacing: -0.5px; color: #999; font-weight: 500;">First Response due in 12 hours</label> &nbsp
                       <label style="font-size: x-small; background-color: rgb(235, 235, 235); padding: 1%; padding-left: 2%; padding-right: 2%; border-radius: 3px;">Billing</label>
                       <label style="font-size: x-small; background-color: rgb(235, 235, 235); padding: 1%; padding-left: 2%; padding-right: 2%; border-radius: 3px;">Card Issue</label>
                    </td>
                    <td style="color: rgb(49, 196, 49); font-weight: 600; ">Open</td>
                    <td><button class="btn " style="background-color: rgb(49, 196, 49); height: 30px; width: 50px;color: white; padding: 2%;font-weight: 500; ">Low</button></td>
                    <td>Jack White</td>
                    <td>20 Oct 2021</td>
                </tr>
                </tbody>
                                    
                
                </table>

                <table id="example" class="tbMain " style="width:100%">
                    <thead id="Thead">
                        <tr>
                            <th>ID</th>
                            <th>Requester Name</th>
                            <th>Subjects</th>
                            <th>Status</th>
                            <th>Priority</th>
                            <th>Assignee</th>
                            <th>Date Created</th>
                        </tr>
                    </thead>
                    <tbody  >
                        <tr class="tb">
                            <td>#1122</td>
                            <td ><div class="profilePic">
                                <img src="/assets/Images/Dashboard/sampleImageIcon.jpeg">
                            </div>&nbsp <label id="DP">Ann Grey &nbsp<i class="fas fa-envelope" style="color: grey; "></i></label></td>
                            <td >Android App Crashes
                                <br>
                               <label style="font-size: x-small; font-weight: 500; letter-spacing: -0.5px; color: #999; font-weight: 500;">First Response due in 12 hours</label> &nbsp
                               <label style="font-size: x-small; background-color: rgb(235, 235, 235); padding: 1%; padding-left: 2%; padding-right: 2%; border-radius: 3px;">Billing</label>
                               <label style="font-size: x-small; background-color: rgb(235, 235, 235); padding: 1%; padding-left: 2%; padding-right: 2%; border-radius: 3px;">Card Issue</label>
                            </td>
                            <td style="color: rgb(49, 196, 49); font-weight: 600; ">Open</td>
                            <td><button class="btn " style="background-color: rgb(49, 196, 49); height: 30px; width: 50px;color: white; padding: 2%;font-weight: 500; ">Low</button></td>
                            <td>Jack White</td>
                            <td>20 Oct 2021</td>
                        </tr>
                        </tbody>
                                            
                        
                        </table>

                        <table id="example" class="tbMain " style="width:100%">
                            <thead id="Thead">
                                <tr>
                                    <th>ID</th>
                                    <th>Requester Name</th>
                                    <th>Subjects</th>
                                    <th>Status</th>
                                    <th>Priority</th>
                                    <th>Assignee</th>
                                    <th>Date Created</th>
                                </tr>
                            </thead>
                            <tbody  >
                                <tr class="tb">
                                    <td>#1122</td>
                                    <td ><div class="profilePic">
                                        <img src="/assets/Images/Dashboard/sampleImageIcon.jpeg">
                                    </div>&nbsp <label id="DP">Ann Grey &nbsp<i class="fas fa-envelope" style="color: grey; "></i></label></td>
                                    <td >Android App Crashes
                                        <br>
                                       <label style="font-size: x-small; font-weight: 500; letter-spacing: -0.5px; color: #999; font-weight: 500;">First Response due in 12 hours</label> &nbsp
                                       <label style="font-size: x-small; background-color: rgb(235, 235, 235); padding: 1%; padding-left: 2%; padding-right: 2%; border-radius: 3px;">Billing</label>
                                       <label style="font-size: x-small; background-color: rgb(235, 235, 235); padding: 1%; padding-left: 2%; padding-right: 2%; border-radius: 3px;">Card Issue</label>
                                    </td>
                                    <td style="color: rgb(49, 196, 49); font-weight: 600; ">Open</td>
                                    <td><button class="btn " style="background-color: rgb(49, 196, 49); height: 30px; width: 50px;color: white; padding: 2%;font-weight: 500; ">Low</button></td>
                                    <td>Jack White</td>
                                    <td>20 Oct 2021</td>
                                </tr>
                                </tbody>
                                                    
                                
                                </table>

                                <table id="example" class="tbMain " style="width:100%">
                                    <thead id="Thead">
                                        <tr >
                                            <th>ID</th>
                                            <th>Requester Name</th>
                                            <th>Subjects</th>
                                            <th>Status</th>
                                            <th>Priority</th>
                                            <th>Assignee</th>
                                            <th>Date Created</th>
                                        </tr>
                                    </thead>
                                    <tbody  >
                                        <tr class="tb">
                                            <td >#1122</td>
                                            <td ><div class="profilePic">
                                                <img src="/assets/Images/Dashboard/sampleImageIcon.jpeg">
                                            </div>&nbsp <label id="DP">Ann Grey &nbsp<i class="fas fa-envelope" style="color: grey; "></i></label></td>
                                            <td >Android App Crashes
                                                <br>
                                               <label style="font-size: x-small; font-weight: 500; letter-spacing: -0.5px; color: #999; font-weight: 500;">First Response due in 12 hours</label> &nbsp
                                               <label style="font-size: x-small; background-color: rgb(235, 235, 235); padding: 1%; padding-left: 2%; padding-right: 2%; border-radius: 3px;">Billing</label>
                                               <label style="font-size: x-small; background-color: rgb(235, 235, 235); padding: 1%; padding-left: 2%; padding-right: 2%; border-radius: 3px;">Card Issue</label>
                                            </td>
                                            <td style="color: rgb(49, 196, 49); font-weight: 600; ">Open</td>
                                            <td><button class="btn " style="background-color: rgb(49, 196, 49); height: 30px; width: 50px;color: white; padding: 2%;font-weight: 500; ">Low</button></td>
                                            <td>Jack White</td>
                                            <td>20 Oct 2021</td>
                                        </tr>
                                        </tbody>
                                                            
                                        
                                        </table>
</div>